@import 'sass/_fonts';

$minWidth: 1300px;
$headerHeight: 2.8125rem;
$lineHeight: 0.3125rem;


$animateTime: 0.25s ease;


$colorBlue: #1b75ba;
$colorBlueLight: #008cf0;
$colorText: #8D8FA9;
$colorDD: #343740;
$colorYellow: #fcc545;
$colorGreen: #6fca41;
$colorDark: #1c1d22;
$colorRed: #ee4036;
$colorBrown: #c59c6c;

$colorVioletLight: #904da1;
$colorCyan: #168383;
$colorBg: #f6f6f6;

$bp1: 1300px;


@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
@import 'sass/mixins';
@import 'sass/normalize';
@import 'sass/jquery.mCustomScrollbar';
@import 'sass/nouislider';



.clr_white{
	color: #fff!important;
}
.clr_yellow{
	color: $colorYellow!important;
}
.clr_green{
	color: $colorGreen!important;
}
.clr_blue{
	color: $colorBlue!important;
}
.clr_brown{
	color: $colorBrown!important;
}
.clr_red{
	color: $colorRed!important;
}

.bgr_white{
	background: #fff!important;
}
.bgr_yellow{
	background: $colorYellow!important;
}
.bgr_green{
	background: $colorGreen!important;
}
.bgr_blue{
	background: $colorBlue!important;
}
.bgr_brown{
	background: $colorBrown!important;
}
.bgr_red{
	background: $colorRed!important;
}
.bgr_violet{
	background: $colorVioletLight!important;
	color: $colorDark;
}

.js-scroll-wrap{
	overflow: hidden;
}


.fl-r{
	float: right;
}

@import 'sass/popup';

@import 'sass/_login';

@import 'sass/header';
@import 'sass/aside';
@import 'sass/main';
//@import 'sass/slick';


body{
	opacity: 1!important;
}



.game__pages{
	padding: 50px 0;
	font-size: 20px;
	color: #fff;
	text-align: center;

	p{
		font-size: 16px;
	}
}