aside.aside
	.aside__inner
		.aside__logo
		.aside__menu.js-scroll-wrap
			.aside__menu-item.aside__menu-item_submenu
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Строительство
				.aside__submenu
					.aside__submenu-item
						.aside__submenu-link Подпункт 1
					.aside__submenu-item
						.aside__submenu-link Подпункт 2
					.aside__submenu-item
						.aside__submenu-link Подпункт 3
			.aside__menu-item.aside__menu-item_submenu
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Наука
				.aside__submenu
					.aside__submenu-item
						.aside__submenu-link Подпункт 1
					.aside__submenu-item
						.aside__submenu-link Подпункт 2
					.aside__submenu-item
						.aside__submenu-link Подпункт 3
			.aside__menu-item
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Ресурсы
			.aside__menu-item
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Сообщения #[span.bgr_blue 5]
			.aside__menu-item.aside__menu-item_submenu
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Оповещения #[span.bgr_blue 497]
				.aside__submenu
					.aside__submenu-item
						.aside__submenu-link Подпункт 1
					.aside__submenu-item
						.aside__submenu-link Подпункт 2
					.aside__submenu-item
						.aside__submenu-link Подпункт 3
			.aside__menu-item
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-cup.svg')
					.aside__menu-name Магазин #[span.bgr_red sale]
			.aside__menu-item
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-settings.svg')
					.aside__menu-name Статистика
			.aside__menu-item
				.aside__menu-link
					.aside__menu-ico: i.ico: img.svg(src='/img/ico/ico-menu-user.svg')
					.aside__menu-name Выход
