.game__content.game__content
	.game__galaxy

	.game__menu
		.game__menu-list
			.game__menu-item.is-compact
				.game__menu-ico: include ../img/planet_menu/1.svg
				+menuContent(true)
			.game__menu-item.is-compact
				.game__menu-ico: include ../img/planet_menu/2.svg
				+menuContent(false)
			.game__menu-item.is-compact
				.game__menu-ico: include ../img/planet_menu/3.svg
				+menuContent(true)
			.game__menu-item.is-compact
				.game__menu-ico: include ../img/planet_menu/4.svg
				+menuContent(false)
			.game__menu-item.is-compact
				.game__menu-ico: include ../img/planet_menu/5.svg
				+menuContent(false)

			.game__menu-item.game__menu-item_t
				.game__menu-ico История

			.game__menu-item.game__menu-item_m
				.game__menu-ico: include ../img/planet_menu/ico-settings.svg

			.game__menu-item.game__menu-item_m(title="Очистить историю")
				.game__menu-ico: include ../img/planet_menu/ico-clear.svg

	.game__menu.game__menu_bl
		.game__menu-list
			.game__menu-item.game__menu-item_m
				.game__menu-ico: include ../img/planet_menu/ico-orbit.svg

			.game__menu-item.game__menu-item_m
				.game__menu-ico: include ../img/planet_menu/ico-res.svg

			.game__menu-item.game__menu-item_m
				.game__menu-ico: include ../img/planet_menu/ico-factories.svg

			.game__menu-item.game__menu-item_m
				.game__menu-ico

			.game__menu-item.game__menu-item_m
				.game__menu-ico

			.game__menu-item.game__menu-item_m
				.game__menu-ico

			.game__menu-item.game__menu-item_m
				.game__menu-ico

			.game__menu-item.game__menu-item_m
				.game__menu-ico


	.game__force
		+forceAction('attack')
		+forceAction('protection')
		+forceAction('attack')
		+forceAction('more')

	.game__planet.is-attacked
		.game__planet-inner
			if ( d3 )
				.game__visual.tjs-planet(
				data-planet-mapspeed = '1',
				data-planet-maptexturesmap = '/img/planets3d/big/earth-map.jpg',
				data-planet-maptexturesbumpmap = '/img/planets3d/big/earth-bump.jpg',
				data-planet-maptexturesspecularmap = '/img/planets3d/big/earth-specular.jpg',
				data-planet-cloudstexturesmap = '/img/planets3d/small/earth-clouds.jpg',
				data-planet-cloudstexturesalphamap = '/img/planets3d/small/earth-cloudstransperent.jpg',
				data-planet-cloudsspeed = '2'
				)
			else
				.game__visual
					img(src='/img/planets/04.png')
			.game__planet-name
				span.pref Планета
				span.value Земля
				a(href='#').edit Редактировать
			.game__planet-timer
				.game__planet-timer-inner
					i.ico: include ../img/ico/ico-sword.svg
					span.value 02:30:23
			.game__planet-keep.keep
				.keep__title Производство
				.keep__contens
					.keep__column
						.keep__column-title Флот

						+keepItem('fleet', '50%', '09:35')
						+keepItem('fleet', 'ready')
						+keepItem('fleet', 'locked')

					.keep__column
						.keep__column-title Оборона

						+keepItem('defense', '35%', '09:35')
						+keepItem('defense', 'ready')
						+keepItem('defense', 'locked')

					.keep__column.keep__column_middle
						.keep__column-title Ресурсы

						+keepItem('resources', '75%', '09:35')
						+keepItem('resources', 'ready')
						+keepItem('resources', 'locked')

					.keep__column
						.keep__column-title Заводы

						+keepItem('factories', '30%', '09:35')
						+keepItem('factories', 'ready')
						+keepItem('factories', 'locked')

					.keep__column
						.keep__column-title Технология

						+keepItem('technology', '15%', '03:14:15')
						+keepItem('technology', 'ready')
						+keepItem('technology', 'locked')

				.keep__footer
					a.btn(href='#')
						i.ico: include ../img/ico/ico-rocket.svg
						span Вервь
					a.btn(href='#')
						i.ico: include ../img/ico/ico-orden.svg
						span Альянсы


			.game__planet-back
				a(href='#') Покинуть планету&nbsp;
					i.ico: include ../img/ico/ico-back.svg

	.game__satellite
		.game__satellite-list
			.game__satellite-item.is-attacked
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '2',
					data-planet-maptexturesmap = '/img/planets3d/small/marsmap.jpg',
					data-planet-maptexturesbumpmap = '/img/planets3d/small/marsbump.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 1
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]

			.game__satellite-item
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '7',
					data-planet-maptexturesmap = '/img/planets3d/small/mercurymap.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 2
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]

			.game__satellite-item
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '4',
					data-planet-maptexturesmap = '/img/planets3d/small/plutomap.jpg',
					data-planet-maptexturesbumpmap = '/img/planets3d/small/plutobump.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 3
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]

			.game__satellite-item
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '5',
					data-planet-maptexturesmap = '/img/planets3d/small/venusmap.jpg',
					data-planet-maptexturesbumpmap = '/img/planets3d/small/venusbump.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 4
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]

			.game__satellite-item
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '3',
					data-planet-maptexturesmap = '/img/planets3d/small/jupitermap.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 5
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]


			.game__satellite-item
				if ( d3 )
					.tjs-planet(
					data-planet-mapspeed = '1',
					data-planet-maptexturesmap = '/img/planets3d/small/neptunemap.jpg',
					)
				.game__satellite-callout
				.game__satellite-info
					.game__satellite-title Спутник Луна 6
					.game__satellite-text &Oslash; 12.800 км<br>от -11С&deg; до 12С&deg;<br> Место в галактике [1:390:10]
