mixin treasureInner()
	.header__treasure-inner
		.header__treasure-ico: img(src='/img/treasure/ico-metal.svg')
		.header__treasure-info
			.header__treasure-row.header__treasure-row_head
				.header__treasure-name.clr_white Металл
				.header__treasure-value.clr_green 76 000
			.header__treasure-row
				.header__treasure-name Вместимость хранилищ
				.header__treasure-value 10 000
			.header__treasure-row
				.header__treasure-name Заполнение хранилищ
				.header__treasure-value 50%
			.header__treasure-row
				.header__treasure-name Осталось до заполнения
				.header__treasure-value 1 день 14:24:20
			.header__treasure-row.header__treasure-row_action
				.header__treasure-name
					i.ico: img(src='/img/treasure/ico-timer.svg')
					span.value Производство #[b.clr_yellow 120]
				.header__treasure-value: a(href='#').btn.btn_blue Ускорить&nbsp;
					i.ico: img(src='/img/ico/ico-electro.svg', alt='')

header.header
	.header__inner
		.header__menu
			.header__label.js-dd-asidemenu
				//-span.value Меню
				i.ico
			.header__dropdown
		.header__messages.js-dd-wrap
			.header__label.js-dd-link
				i.ico: include ../img/ico/ico-messages.svg
				//-span.value Сообщения
				span.count 99+
			.header__dropdown
				.header__dropdown-list
					a(href='#').header__dropdown-item
						span.value История новостей
						span.count 20
					a(href='#').header__dropdown-item
						span.value Альянс Империя
						span.count 19
					a(href='#').header__dropdown-item
						span.value Пилоты республики
						span.count 142
		.header__treasure
			//-.header__treasure-title Ресурсы:
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-cash.svg', alt='')
					span.value 2 300 200
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-el.svg', alt='')
					span.value 14 500
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-1.svg', alt='')
					span.value 5 484
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-2.svg', alt='')
					span.value 14 000 232
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-3.svg', alt='')
					span.value 542
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-4.svg', alt='')
					span.value 542
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-5.svg', alt='')
					span.value 542
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-6.svg', alt='')
					span.value 542
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-7.svg', alt='')
					span.value 542
				.header__dropdown
					+treasureInner()
			.header__treasure-item.js-dd-wrap
				.header__treasure-label.bgr_violet.js-dd-link
					i.ico: img(src='/img/ico/ico-treasure-8.svg', alt='')
					span.value 90 500
				.header__dropdown
					+treasureInner()
		.header__place.js-dd-wrap
			.header__label.js-dd-link
				i.ico: include ../img/ico/ico-planet.svg
				span.value Планета Земля
				i.arrow
			.header__dropdown
				.header__dropdown-list
					a(href='#').header__dropdown-item
						i.ico: include ../img/ico/ico-planet.svg
						span.value Планета Сатурн
					a(href='#').header__dropdown-item
						i.ico: include ../img/ico/ico-planet.svg
						span.value Планета Венера
					a(href='#').header__dropdown-item
						i.ico: include ../img/ico/ico-planet.svg
						span.value Плутон не планета
		.header__world.js-dd-wrap
			.header__label.js-dd-link
				span.value Вся вселенная
				i.ico: include ../img/ico/ico-world.svg
			.header__dropdown

	.header__line