mixin menuContent(text)
	.game__menu-info
		.game__menu-info-header
			.btn АЛЬЯНС
			.btn.btn_solid.btn_yellow 02:53:30
		.game__menu-info-title Истекает мирный договор
		if text
			.game__menu-info-text Алья́нс (фр. Alliance) — союз, объединение (например, государств, организаций) на основе формальных либо неформальных договорных обязательств.
		.game__menu-info-place
			i.ico: include ../img/ico/ico-planet.svg
			span.value Планета Terra Nova Zizaaul
	.game__menu-close: include ../img/ico/ico-close.svg
	.game__menu-find: include ../img/ico/ico-find.svg



mixin forceAction(type)
	if type == 'more'
		.game__force-group.game__force-group_more
			.game__force-list
				.game__force-item
					.game__force-text Все отаки
					.game__force-path
						.game__force-path-rocket: i: include ../img/ico/ico-rocket.svg
					.game__force-count 34

	else
		.game__force-group.is-compact(class= 'game__force-group_' + type)
			.game__force-close: include ../img/ico/ico-close.svg
			if ( type == 'protection' )
				.game__force-title Флот двоюродного племянника со стороны мужа сестры Дарт Вейдера отакует Вашу Планету Земля
			else
				.game__force-title Ваш флот отакует Планету Terra Nova
			.game__force-list
				.game__force-item
					if ( type == 'protection' )
						.game__force-ico: include ../img/ico/ico-sword.svg
					else
						.game__force-ico: include ../img/ico/ico-shield.svg
					.game__force-timer: span 01:25:28
					.game__force-path
						.game__force-path-start: include ../img/ico/ico-planet.svg
						.game__force-path-rocket(style='width:85%;'): i: include ../img/ico/ico-rocket.svg
						.game__force-path-finish: include ../img/ico/ico-planet.svg
					.game__force-count 3
				.game__force-item
					.game__force-timer: span 05:25:28
					.game__force-path
						.game__force-path-start: include ../img/ico/ico-planet.svg
						.game__force-path-rocket(style='width:70%;'): i: include ../img/ico/ico-rocket.svg
						.game__force-path-finish: include ../img/ico/ico-planet.svg
				.game__force-item
					.game__force-timer: span 10:25:28
					.game__force-path
						.game__force-path-start: include ../img/ico/ico-planet.svg
						.game__force-path-rocket(style='width:40%;'): i: include ../img/ico/ico-rocket.svg
						.game__force-path-finish: include ../img/ico/ico-planet.svg





mixin keepInclude(type)
	if ( type == 'fleet' )
		include ../img/keep/fleet-shape.svg
	else if ( type == 'defense' )
		include ../img/keep/defense-shape.svg
	else if ( type == 'resources' )
		include ../img/keep/resources-shape.svg
	else if ( type == 'factories' )
		include ../img/keep/factories-shape.svg
	else if ( type == 'technology' )
		include ../img/keep/technology-shape.svg

mixin keepInInclude(type)
	//-if ( type == 'fleet' )
		include ../img/keep/fleet-inshape.svg
	//-else if ( type == 'defense' )
		include ../img/keep/defense-inshape.svg
	//-else if ( type == 'resources' )
		include ../img/keep/resources-inshape.svg
	//-else if ( type == 'factories' )
		include ../img/keep/factories-inshape.svg
	//-else if ( type == 'technology' )
		include ../img/keep/technology-inshape.svg

mixin keepIco(type)
	if ( type == 'fleet' )
		include ../img/keep/ico-engine.svg
	else if ( type == 'defense' )
		include ../img/keep/ico-axes.svg
	else if ( type == 'resources' )
		include ../img/keep/ico-diamond.svg
	else if ( type == 'factories' )
		include ../img/keep/ico-bullets.svg
	else if ( type == 'technology' )
		include ../img/keep/ico-laser.svg



mixin keepItem(type, status, time, param)

	- var cls = (status == 'ready' || status == 'locked') ? status : '' ;
	- var color = ( type == 'fleet' ? '#fcc545' : ( type == 'defense' ? '#6fca41' : ( type == 'resources' ? '#c59c6c' : ( type == 'factories' ? '#ee4036' : '#1b75ba' ) ) ) );

	.keep__item(style= !cls ? 'color: #{color};' : '' , class= cls ? 'keep__item_#{cls}' : '')
		if( cls )
			.keep__item-preview
				.keep__item-preview-frame: i: +keepInclude(type)
				if ( status == 'ready' )
					//-.keep__item-preview-inframe: i: +keepInInclude(type)
					.keep__item-preview-ico: i: img(src='/img/keep/shape-ready.svg')
				else
					.keep__item-preview-ico: i: img(src='/img/keep/shape-locked.svg')

		else
			.keep__item-info
				if (param == 'building')
					.keep__item-info-text Лазерная технология оружия
					.keep__item-info-header
						p Ускорить
						a(href='#').btn 50%
						a(href='#').btn 100%
					.keep__item-info-close
						i.ico: include ../img/ico/ico-close.svg
						span.value Отменить
				else
					.keep__item-info-header
						a(href='#').btn 1,5x
						a(href='#').btn 2x
					.keep__item-info-text Лазерная технология оружия
					.keep__item-info-close
						i.ico: include ../img/ico/ico-close.svg
						span.value Отмена
			.keep__item-preview
				if (status !== 0)
					.keep__item-preview-progress(style='height:#{status};'): i: +keepInclude(type)
				.keep__item-preview-frame: i: +keepInclude(type)
				.keep__item-preview-ico: i: +keepIco(type)


			if (time)
				.keep__item-timer: span: i= time

			if (param == 'building')
				.keep__item-text: span Завод по произодству патронов
				.keep__item-lvl: span lv. 3

