include popups/popup-planet

include popups/popup-building

include popups/popup-orbit

include popups/popup-shop

include popups/popup-messages

include popups/popup-fleet

include popups/popup-stat

include popups/popup-attackanddefense

include popups/popup-blackmarket

include popups/popup-buy

include popups/popup-text

include popups/popup-donut

