include mixin
block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title HTML Page
		style.
			body {
				opacity: 0;
			}
		block head
	body
		.wrapper
			if ( pageTemplate !== 'login' )
				include aside
				include header
			.game(class= pageTemplate ? 'game_#{pageTemplate}' : '')
				block content
		if pageTemplate == 'map'
			include popups
		link(rel='stylesheet', href='/css/style.css')/
		script(src='/js/jquery.min.js')
		script(src='/js/vendor.js')
		script(src='/js/custom.js')

		//-script(src='https://threejs.org/build/three.min.js')
		//-script(src='https://www.clicktorelease.com/tmp/threejs/mblur/js/EffectComposer.js')
		//-script(src='https://www.clicktorelease.com/tmp/threejs/mblur/js/ShaderPass.js')
		//-script(src='https://www.clicktorelease.com/tmp/threejs/mblur/js/RenderPass.js')


		block scripts