extends layout/template

block vars
	- var pageTemplate = 'map';

block head

mixin inputText(type, name, placeholder, required)
	if (required)
		input(type= type, name= name, placeholder= placeholder, data-required= required)
	else
		input(type= type, name= name, placeholder= placeholder)
	.enter__form-controls
		.enter__form-controls-clear: img(src='/img/ico/ico-input-clear.svg')
		.enter__form-controls-notepad: img(src='/img/ico/ico-input-notepad.svg')
	.enter__form-status
	.enter__form-message(data-form='message')

block content
	.game__pages
		p: a(href='/home.html') Главная
		p: a(href='/home-static.html') Главная без 3D
		p: a(href='/login.html') Авторизация
		br
		h2 Попапы
		p: a(href='#', data-popup='.popup_planet') Ваши планеты
		p: a(href='#', data-popup='.popup_orbit') Звездная система
		p: a(href='#', data-popup='.popup_building') Строительство
		p: a(href='#', data-popup='.popup_shop') Игровые покупки
		p: a(href='#', data-popup='.popup_fleet_1') Отправка флота (1)
		p: a(href='#', data-popup='.popup_fleet_2') Отправка флота (2)
		p: a(href='#', data-popup='.popup_fleet_3') Отправка флота (3)
		p: a(href='#', data-popup='.popup_stat') Статистика расхода топлива
		p: a(href='#', data-popup='.popup_attackdefense') Атака и оборона
		p: a(href='#', data-popup='.popup_blackmarket') Черный рынок ресурсов
		p: a(href='#', data-popup='.popup_buy') Игровые покупки
		p: a(href='#', data-popup='.popup_messages') Сообщения
		p: a(href='#', data-popup='.popup_text') Текстовый попап
		p: a(href='#', data-popup='.popup_donut') Покупка доната
