extends layout/template

block vars
	- var pageTemplate = 'login';

block head

mixin inputText(type, name, placeholder, required)
	if (required)
		input(type= type, name= name, placeholder= placeholder, data-required= required)
	else
		input(type= type, name= name, placeholder= placeholder)
	.enter__form-controls
		.enter__form-controls-clear: img(src='/img/ico/ico-input-clear.svg')
		.enter__form-controls-notepad: img(src='/img/ico/ico-input-notepad.svg')
	.enter__form-status
	.enter__form-message(data-form='message')

block content
	.game__login.clearfix
		.game__galaxy

		.game__login-logo
			img(src='/img/logo.png')

		.game__login-enter

			form.game__login-form.game__login-form_auth.is-closed(action='/data/auth.json', method='post')
				.enter
					.enter__close: include img/ico/ico-input-clear.svg
					.enter__title #[i.ico #[img(src='/img/ico/ico-auth.svg')]] Вход

					.enter__form

						.enter__system
							.enter__system-wrap
								.enter__system-ico: img(src='/img/ico/ico-input-system.svg')
								input(type='hidden', value='0', name='authSystem')
								.enter__system-current Звездная система
								.enter__system-list.js-scroll-wrap
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
								.enter__system-handle: img(src='/img/ico/ico-input-dropdown.svg')

						.enter__form-field(data-form='field')
							.enter__form-input
								+inputText('text', 'authEmail', 'Email', 'email')
						.enter__form-field(data-form='field')
							.enter__form-input
								+inputText('password', 'authPass', 'Пароль', 'true')
								.enter__form-footnote
									a.enter__form-footnote-link(href='#') Забыли пароль?
						.enter__footnote

						.enter__submit
							.enter__submit-btn.js-submit-form Вход


			form.game__login-form.game__login-form_reg.is-closed(action='/data/reg.json', method='post')
				.enter
					.enter__close: include img/ico/ico-input-clear.svg
					.enter__title Регистрация
					.enter__form
						.enter__form-field(data-form='field')
							.enter__form-input
								+inputText('text', 'regName', 'Имя', 'true')
						.enter__form-field(data-form='field')
							.enter__form-input
								+inputText('text', 'regEmail', 'Email', 'email')
						.enter__form-field(data-form='field')
							.enter__form-input
								+inputText('password', 'regPass', 'Пароль', 'true')
								.enter__form-footnote
									a.enter__form-footnote-link(href='#') Как подобрать пароль?
									.enter__form-footnote-tooltip
										.title Как сделать надеждный пароль
										.text.js-scroll-wrap
											p Создавайте уникальный пароль к каждой из учетных записей. Используйте буквы разного регистра (Заглавные и прописные). добавляйете цифры и служеюные символы.
											p Придумайте длинный пароль - это основное правило. “Длинный и надежный пароль не должен быть бессмысленным. - объясняет технолонический эксперт

						.enter__system

							.enter__system-wrap
								.enter__system-ico: img(src='/img/ico/ico-input-system.svg')
								input(type='hidden', value='0', name='regSystem')
								.enter__system-current Звездная система
								.enter__system-list.js-scroll-wrap
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
									.enter__system-item(data-value='1') Солнечная система
									.enter__system-item(data-value='2') Система подачи топлива
									.enter__system-item(data-value='3') Система аналитики
									.enter__system-item(data-value='5') Солнечная система
									.enter__system-item(data-value='6') Система здравоохранения
								.enter__system-handle: img(src='/img/ico/ico-input-dropdown.svg')



						.enter__footnote
							| Регистрируясь вы соглашаетесь с#[br]
							label.label
								input(type='checkbox', name='', checked='checked')
								span
							a(href='#') Условиями пользования

						.enter__submit
							.enter__submit-btn.js-submit-form Продолжить


		.game__login-header
			//-.title КОЛОНИЗАТОРЫ
			.subtitle Первая браузерная игра с пенальным выводом средств
			.text Начни завоевывать вселенную уже сегодня. Десятки тысяч планет и тысячи игроков#[br]жду тебя в сражение тысячелетия


		.game__login-footer
			a.game__login-footer-link(href='') Контакты
			a.game__login-footer-link(href='') Служба поддержки
			a.game__login-footer-link(href='') Правила игры
			a.game__login-footer-link(href='') Политика конфедициальности
			a.game__login-footer-link(href='') Условия использования ресурса