.popup.popup_donut
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Покупка доната
			.popup__head
				.popup__head-item Покупка 245 000 ТМ
				.popup__head-item Стоимость 1000 Р
				.popup__head-item Скида 100 Р
			.popup__content.js-scroll-wrap
				.popup__donut
					.popup__donut-list
						- for (var i=1; i<=19; i++)
							if (i == 3)
								.popup__donut-item.popup__donut-item_custom
									.popup__donut-inner
										.popup__donut-val ЛЮБАЯ СУММА
										.popup__donut-counter
											.popup__donut-counter-text ТМ
											.popup__donut-counter-item
												.counter
													.counter__down
													.counter__value 1 000 000
													.counter__up
											.popup__donut-counter-item
												.counter
													.counter__down
													.counter__value 1500
													.counter__up
											.popup__donut-counter-text Р.

										.popup__donut-buy
											a(href='#').btn Пожертвовать
							else if (i == 7)
								.popup__donut-item.popup__donut-item_counter
									.popup__donut-inner
										.popup__donut-val 10 000
										.popup__donut-text Стоимость
										.popup__donut-counter
											.counter
												.counter__down
												.counter__value 102
												.counter__up
										.popup__donut-buy
											a(href='#').btn Пожертвовать
							else
								.popup__donut-item
									.popup__donut-inner
										if (i == 4)
											.popup__donut-val 1 000 ТМ
										else if (i == 5)
											.popup__donut-val 10 000 ТМ
										else if (i == 6)
											.popup__donut-val 100 000 ТМ
										else
											.popup__donut-val 10 000
										.popup__donut-text Стоимость
										if (i == 4)
											.popup__donut-price 100 руб
										else if (i == 5)
											.popup__donut-price 300 руб
										else if (i == 6)
											.popup__donut-price 500 руб
										else
											.popup__donut-price 245 000 ТМ
										.popup__donut-buy
											a(href='#').btn Пожертвовать



	.popup__overlay