.popup.popup_buy
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Игровые покупки
			.popup__head
				a(href='#').popup__head-item.popup__head-item_back #[span Назад]
				.popup__head-title Корзина

			.popup__content

				.buy
					.buy__list.js-scroll-hor
						.buy__item
							.buy__item-remove
							.buy__item-logo
								+keepItem('factories', 0, false)
							.buy__item-info
								.buy__item-name Военный завод
								.buy__item-val 1 шт.
								.buy__item-price 1 000Р.

						.buy__item
							.buy__item-remove
							.buy__item-logo
								+keepItem('fleet', 0, false)
							.buy__item-info
								.buy__item-name Истребители
								.buy__item-val 1 шт.
								.buy__item-price 14 000Р.

					.buy__pay
						.buy__pay-result К оплате: 15 000 Р.
						.buy__pay-title Способ оплаты
						.buy__pay-list
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-visa.svg', alt='Visa')
									.buy__pay-name Visa
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-mastercard.svg', alt='Master Card')
									.buy__pay-name Master Card
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-maestro.svg', alt='Maestro Card')
									.buy__pay-name Maestro Card
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-apple.svg', alt='Apple Pay')
									.buy__pay-name Apple Pay
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-wm.svg', alt='WebMoney')
									.buy__pay-name WebMoney
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-qiwi.svg', alt='Qiwi')
									.buy__pay-name Qiwi
							.buy__pay-item
								.buy__pay-inner
									.buy__pay-logo: i.ico: img.svg(src='img/ico/ico-buy-yandex.svg', alt='Яндекс деньги')
									.buy__pay-name Яндекс деньги

	.popup__overlay