.popup.popup_building
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Строительство
			.popup__head
				span(data-tab-link='building_group_1', data-tab-group='building_group').popup__head-item.is-active #[i.ico: img.svg(src='/img/ico/simp-ico-fleet.svg', alt='')] #[span Флот]
				span(data-tab-link='building_group_2', data-tab-group='building_group').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-defense.svg', alt='')] #[span Оборона]
				span(data-tab-link='building_group_3', data-tab-group='building_group').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-resources.svg', alt='')] #[span Ресурсы]
				span(data-tab-link='building_group_4', data-tab-group='building_group').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-factories.svg', alt='')] #[span Заводы]
				span(data-tab-link='building_group_5', data-tab-group='building_group').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-technology.svg', alt='')] #[span Наука]

			- for (i=1; i<6; i++)

				case i
					when 1
						- var type = 'fleet'
					when 2
						- var type = 'defense'
					when 3
						- var type = 'resources'
					when 4
						- var type = 'factories'
					when 5
						- var type = 'technology'
					default
						- var type = '_________'

				.popup__content(class= i==1 ? 'is-active' : '', data-tab-targ='building_group_#{i}', data-tab-group='building_group')
					.popup__content-image
					.tabs
						.tabs__menu
							.tabs__item.is-active(data-tab-link='building_#{i}_1', data-tab-group='building_#{i}') ВОЕННЫЕ
							.tabs__item(data-tab-link='building_#{i}_2', data-tab-group='building_#{i}') ГРАЖДАНСКИЕ
							.tabs__item(data-tab-link='building_#{i}_3', data-tab-group='building_#{i}') СТАНКОСТРОИТЕЛЬНЫЕ
							.tabs__item(data-tab-link='building_#{i}_4', data-tab-group='building_#{i}') АЭРОКОСМИЧЕСКИЕ
						.tabs__content.js-scroll-hor
							.build__list.is-active(data-tab-targ='building_#{i}_1', data-tab-group='building_#{i}')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, '15%', '59:35', 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')

							.build__list(data-tab-targ='building_#{i}_2', data-tab-group='building_#{i}')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, '15%', '59:35', 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')

							.build__list(data-tab-targ='building_#{i}_3', data-tab-group='building_#{i}')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, '15%', '59:35', 'building')
								.build__item
									+keepItem(type, 0, false, 'building')

							.build__list(data-tab-targ='building_#{i}_4', data-tab-group='building_#{i}')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item
									+keepItem(type, '15%', '59:35', 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item
									+keepItem(type, 0, false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')
								.build__item.is-locked
									+keepItem(type, 'locked', false, 'building')



			.popup__pp
				.popup__pp-layout
					.popup__pp-close
					.popup__pp-preview
						.popup__pp-control
							.btn.btn_big.btn_border Древо технологий

					.popup__pp-content
						.popup__pp-content__title Ракетостроительный#[br]завод&nbsp;#[span.btn.btn_lvl lv.1]
						.popup__pp-content__text Время исследования : #[span.clr_white 40m 0c]
						.popup__pp-content__text Будет освоено производство межконтинентальных ракет баллистических и оперативно - тактических ракет для комплексов "Ярс-М", "Булава" и "Искандер"

						.popup__pp-control
							.btn.btn_big.btn_dark Описание
							// красная кнопка - btn_red; серая кнопка - btn_dark; заблокированная кнопка - is-disabled
							.btn.btn_big.btn_red.is-disabled Строить
	.popup__overlay