.popup.popup_planet
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Ваши планеты
			.popup__head
				.popup__head-title Планеты
				.popup__head-item Флот
				.popup__head-item Оборона
				.popup__head-item.popup__head-item_c Ресурсы
				.popup__head-item Заводы
				.popup__head-item Наука
			.popup__content.js-scroll-wrap

				.planet__list
					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Terra Nova Soiveunts&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', '32%', '19:35')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', '86%', '01:35')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Спутник Луна&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Планета Плутон&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', '44%', '15:51')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '15%', '59:35')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', '85%', '14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Спутник Луна&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next


					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Terra Nova Soiveunts&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', '32%', '19:35')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', '86%', '01:35')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Спутник Луна&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Планета Плутон&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', '44%', '15:51')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '15%', '59:35')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', '85%', '14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next

					.planet__item
						.planet__item-first
							.planet__item-row
								.planet__item-name
									.planet__item-name-view
									.planet__item-name-title Спутник Луна&nbsp;#[i.arrow]
									.planet__item-name-info [1:39:10]
									.planet__item-name-icons
										i.ico
										i.ico
										i.ico

								.planet__item-keep
									+keepItem('fleet', '50%', '09:35')
								.planet__item-keep
									+keepItem('defense', '35%', '09:35')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', '75%', '09:35')
								.planet__item-keep
									+keepItem('factories', '30%', '09:35')
								.planet__item-keep
									+keepItem('technology', '15%', '03:14:15')

						.planet__item-all.is-hidden
							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'ready')
								.planet__item-keep
									+keepItem('defense', 'ready')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'ready')
								.planet__item-keep
									+keepItem('factories', 'ready')
								.planet__item-keep
									+keepItem('technology', 'ready')

							.planet__item-row
								.planet__item-name

								.planet__item-keep
									+keepItem('fleet', 'locked')
								.planet__item-keep
									+keepItem('defense', 'locked')
								.planet__item-keep.planet__item-keep_c
									+keepItem('resources', 'locked')
								.planet__item-keep
									+keepItem('factories', 'locked')
								.planet__item-keep
									+keepItem('technology', 'locked')

						.planet__item-next


	.popup__overlay
