.popup.popup_text
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Текст
			//-.popup__head
				a(href='#', data-tab-link='messages_1', data-tab-group='messages').popup__head-item.is-active #[span Шпионаж]
				a(href='#', data-tab-link='messages_2', data-tab-group='messages').popup__head-item #[span Боевые отчеты]
				a(href='#', data-tab-link='messages_3', data-tab-group='messages').popup__head-item #[span Экспедиции]
				a(href='#', data-tab-link='messages_4', data-tab-group='messages').popup__head-item #[span Транспорт]
			.popup__content.js-scroll-wrap
				.popup__text
					h1 Заголовок H1
					p Лорем ипсум долор сит амет, яуандо минимум цоррумпит ан сит. Меи доценди лобортис дефиниебас ан, иус яуаеяуе аппареат луптатум ех. Иус ат малорум волуптатум, еу фацер оратио мел, сеа ин меис епицури делецтус. Иус фацер веритус тинцидунт ин. Вих ех иуварет опортере посидониум, цум меис идяуе бонорум ан, меи харум фацете фабеллас ан. Сале дицат аетерно хис ех.
					p Ид аццусамус диссентиас улламцорпер усу, вих но убияуе номинави волутпат. Ид яуо инани граеце дефинитионес, ид тритани фацилисис маиестатис еам. Ех меи либер малуиссет, ест ад либер аппареат антиопам. При цасе солута либерависсе ид, те либрис цивибус диспутандо меа. Вел не еверти фиерент омиттам. Ест еи постеа иудицабит принципес. Ат ест мунере цопиосае.

					h2 Заголовок H2
					p Вис дицант регионе волумус не. Нисл фацер аетерно ет цум, еос но порро вереар цонсецтетуер, меи ессент яуаестио цонцлудатуряуе ид. Ид фацер толлит вим. Ех мазим ессент салутатус вих, но цонгуе цонтентионес нец. Диам аудиам пхаедрум меа ан, импедит тинцидунт омиттантур те цум, нец доминг инсоленс десерунт ин. Сит дицант сенсибус либерависсе еа, яуот денияуе импердиет ест не.

					h3 Заголовок H3
					p Сит саепе семпер моллис цу, не молестие пондерум хис. Ат хас демоцритум аргументум, яуод долор мунере вел еу. Еос еу анциллае сенсерит яуалисяуе. Еи цум ипсум пауло постулант, ат нибх легимус легендос вих, санцтус ментитум волуптариа ех мел. Бруте цонгуе еверти еам еи, воцент вертерем цонсецтетуер хис ад, аутем атяуи цум еи.

					ul
						li Нусяуам молестие ест но.
						li Дуо ад салутатус диссентиунт, мовет дицтас.
						li Ет персиус реформиданс хис, оратио неморе цоммуне те.
						li Нисл фацер аетерно ет цум.

					h4 Заголовок H4

					table
						thead
							tr
								th Столбец 1
								th Столбец 2
								th Столбец 3
						tbody
							tr
								td Ячейка 1
								td Ячейка 2
								td Ячейка 3
							tr
								td Ячейка 1
								td Ячейка 2
								td Ячейка 3
							tr
								td Ячейка 1
								td Ячейка 2
								td Ячейка 3


					p Ет персиус реформиданс хис, оратио неморе цоммуне те яуи, вим ад сумо детрацто. Семпер адиписцинг ид иус, ет веро бруте нец. Ад атоморум маиестатис адолесценс нец, цу вим ириуре медиоцритатем. Дуо еу одио поссит пробатус.





	.popup__overlay