.popup.popup_fleet.popup_fleet_1
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Отправка флота
			.popup__head
				a(href='#').popup__head-item.popup__head-item_back.is-disable #[span Назад]
				.popup__head-group
					a(href='#').popup__head-item.is-active #[i.ico: img.svg(src='/img/ico/simp-ico-rocket.svg', alt='')] #[span Флот]
					a(href='#').popup__head-item.is-disable #[i.ico: img.svg(src='/img/ico/simp-ico-attack.svg', alt='')] #[span Цель]
					a(href='#').popup__head-item.is-disable #[i.ico: img.svg(src='/img/ico/simp-ico-flag.svg', alt='')] #[span Задание]
				a(href='#').popup__head-item.popup__head-item_next #[span Далее]
			.popup__content
				.popup__content-image
				.tabs
					.tabs__menu
						.tabs__item ВОЕННЫЙ ФЛОТ
						.tabs__item.is-active ГРАЖДАНСКИЙ ФЛОТ
						.tabs__item РАКЕТЫ
						.tabs__item АЛЬТЕРНАТИВНОЕ ОРУЖИЕ
						.tabs__menu-aside
							.tabs__menu-aside
								.tabs__item ВЫБРАТЬ ВСЕ
								.tabs__item ОЧИСТИТЬ
					.tabs__content.js-scroll-hor
						.fleet__list
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
							.fleet__item
								.fleet__item-inner
									+keepItem('fleet', 0, false)
									.fleet__item-num: span 145
									.fleet__item-name Ракетный Крейсер
								.fleet__item-counter
									.fleet__item-counter-down
									.fleet__item-counter-value 50
									.fleet__item-counter-up
				.popup__pp
					.popup__pp-layout
						.popup__pp-close
						.popup__pp-preview

						.popup__pp-content
							.popup__pp-content__title Ракетный крейсер

							.popup__pp-content__text
								p Скорость #[span.fl-r.clr_white 1 500]
								p Заряд  #[span.fl-r.clr_white 25]
								p Прочность #[span.fl-r.clr_white 10 000]
								p Моневренность #[span.fl-r.clr_white 7]

							.popup__pp-content__text
								p Доп возможности:

							.popup__pp-content__text
								p Работа в группе
								p Одноразовый
								p Штурмовик

	.popup__overlay


.popup.popup_fleet.popup_fleet_2
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Отправка флота
			.popup__head
				a(href='#').popup__head-item.popup__head-item_back #[span Назад]
				.popup__head-group
					a(href='#').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-rocket.svg', alt='')] #[span Флот]
					a(href='#').popup__head-item.is-active #[i.ico: img.svg(src='/img/ico/simp-ico-attack.svg', alt='')] #[span Цель]
					a(href='#').popup__head-item.is-disable #[i.ico: img.svg(src='/img/ico/simp-ico-flag.svg', alt='')] #[span Задание]
				a(href='#').popup__head-item.popup__head-item_next #[span Далее]
			.popup__content
				.popup__content-aside
					.fleet__deliver

						.fleet__deliver-item
							.fleet__deliver-title Откуда
							.fleet__deliver-view
								span
								.fleet__deliver-dim Расстояние<br>23 т свет лет
							.fleet__deliver-text Ваша планеты
							.fleet__deliver-title Terra Nova

						.fleet__deliver-item
							.fleet__deliver-title Куда
							.fleet__deliver-view: span
							.fleet__deliver-text Планеты
							.fleet__deliver-planet
								.sselect
									.sselect-wrap
										input(type='hidden', value='0', name='regSystem')
										.sselect-current Звездная система
										.sselect-list.js-scroll-wrap
											.sselect-item(data-value='1') Солнечная система
											.sselect-item(data-value='2') Система подачи топлива
											.sselect-item(data-value='3') Система аналитики
											.sselect-item(data-value='5') Солнечная система
											.sselect-item(data-value='6') Система здравоохранения
											.sselect-item(data-value='1') Солнечная система
											.sselect-item(data-value='2') Система подачи топлива
											.sselect-item(data-value='3') Система аналитики
											.sselect-item(data-value='5') Солнечная система
											.sselect-item(data-value='6') Система здравоохранения
											.sselect-item(data-value='1') Солнечная система
											.sselect-item(data-value='2') Система подачи топлива
											.sselect-item(data-value='3') Система аналитики
											.sselect-item(data-value='5') Солнечная система
											.sselect-item(data-value='6') Система здравоохранения
										.sselect-handle: img(src='/img/ico/ico-input-dropdown.svg')

							.fleet__deliver-text Координаты

							.fleet__deliver-coordinates
								input(type='text', name='', value='4').fleet__deliver-coordinates-item
								input(type='text', name='', value='102').fleet__deliver-coordinates-item
								input(type='text', name='', value='').fleet__deliver-coordinates-item

				.popup__content-inner.js-scroll-wrap
					.fleet__info
						.fleet__info-title Информация о задании

						.fleet__info-text
							p Время полета в одну сторону #[span.fl-r.clr_white 1 день 12:45:51]
							p Потребление топлива в одну сторону #[span.fl-r.clr_white 5 (14%)]
							p Скорость полета (макс 5000) #[span.fl-r.clr_white 5000]

						.fleet__info-text
							p Прибытие #[span.fl-r.clr_white 28.11.22  21:40:52]
							p Возврат #[span.fl-r.clr_white 29.11.22  21:40:52]
							p Грузоподьемность #[span.fl-r.clr_white 175 000]

						.fleet__info-title Скорость полета

						.fleet__info-speed

							.fleet__info-speed-range
								.range
									.range__counter
										.counter
											.counter__down
											.counter__value 52
											.counter__up

									.range__slider(data-range-max="5000" data-range-val='км/ч')
										.range__current
										.range__max



	.popup__overlay




.popup.popup_fleet.popup_fleet_3
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Отправка флота
			.popup__head
				a(href='#').popup__head-item.popup__head-item_back #[span Назад]
				.popup__head-group
					a(href='#').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-rocket.svg', alt='')] #[span Флот]
					a(href='#').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-attack.svg', alt='')] #[span Цель]
					a(href='#').popup__head-item.is-active #[i.ico: img.svg(src='/img/ico/simp-ico-flag.svg', alt='')] #[span Задание]
				a(href='#').popup__head-item.popup__head-item_submit #[span Отправить]
			.popup__content
				.fleet__target
					.fleet__target-title Выберите цель отправки
					.fleet__target-list
						- for (var i=1; i<=10; i++)
							label.fleet__target-item
								if ( i==3 )
									input.fleet__target-item-input(type='radio', name='fleetTarget', checked='checked', value= i)
									.fleet__target-item-img: span: img(src='/img/ico/ico-fleet-target-some.svg')
								else if (i==7 || i==8 || i==10)
									input.fleet__target-item-input(type='radio', name='fleetTarget', disabled='disabled', value= i)
									.fleet__target-item-img
								else
									input.fleet__target-item-input(type='radio', name='fleetTarget', value= i)
									.fleet__target-item-img: span: img(src='/img/ico/ico-fleet-target-some.svg')
								.fleet__target-item-name Название



					.fleet__target-title Информация о задании
					.fleet__target-info
						.fleet__target-info-col
							p Координаты цели #[span.fl-r.clr_white [8:390:7] Колония]
							p Время полета #[span.fl-r.clr_white 641]
						.fleet__target-info-col.fleet__target-info-col_time
							p Прибытие #[span.fl-r.clr_white 19.02.17 5:23:45 ч.]
							p Возврат #[span.fl-r.clr_white 21.04.17 5:23:45 ч.]
						.fleet__target-info-col.fleet__target-info-col_stat Потребляемое топливо: #[span.clr_white 641] #[a.btn.btn_big(href='#') Статиcтика]

				.fleet__store
					.fleet__store-table
						.fleet__store-row
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Деньги
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Металл
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Алюмининий
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up

						.fleet__store-row
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Энергия
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Электроника
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Уран
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up

						.fleet__store-row
							.fleet__store-item
								.fleet__store-name
									i.ico
									span Еще что-то
								.fleet__store-counter
									.counter
										input(type='hidden', value='17000', name='')
										.counter__down
										.counter__value 17 000
										.counter__up

					.fleet__store-cargo
						.fleet__store-cargo-title Грузовой отсек
						.fleet__store-cargo-fill
							.fleet__store-cargo-current 1 400 000
							.fleet__store-cargo-bulk Вместимость 1 000 000 000
							.fleet__store-cargo-line
								.fleet__store-cargo-progress(style='width:80.5%')
						.fleet__store-cargo-send: a.btn.btn_big(href='#') Заполнить

	.popup__overlay