.popup.popup_stat
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Статистика расхода топлива
			.popup__head
				.popup__head-tabl
					.popup__head-col
						a(href='#').popup__head-item.popup__head-item_back #[i.ico: img.svg(src='/img/ico/simp-ico-arrow_l.svg', alt='')] #[span Назад]
					.popup__head-col
						p Точка отбытия #[span.fl-r.clr_white [8:390:7] Колония]
						p Точка прибытия #[span.fl-r.clr_white [1:2000:7] Terra Nova]
					.popup__head-col
						p Расстояние #[span.fl-r.clr_white 458]
						p Потребление топлива #[span.fl-r.clr_white 10 500 500 (10%)]
						p Время полета в одну сторону #[span.fl-r.clr_white 5:23:45 ч.]
					.popup__head-col
						p Прибытие #[span.fl-r.clr_white 19.02.17  5:23:45 ч.]
						p Возврат #[span.fl-r.clr_white 21.04.17  5:23:45 ч.]
			.popup__content
				.stat
					.stat__head
						a(href='#').stat__head-item.stat__head-item_1.is-active Наименование
						a(href='#').stat__head-item.stat__head-item_2 Количество
						a(href='#').stat__head-item.stat__head-item_3 Потребление корабля
						a(href='#').stat__head-item.stat__head-item_4 Общее потребление
					.stat__table.js-scroll-wrap
						.stat__list
							- for (var i=1; i<=10; i++)
								.stat__item
									.stat__item-col.stat__item-col_image
										+keepItem('fleet', 0, false)
									.stat__item-col.stat__item-col_name
										.title Ракетный крейсер
										.label: span ФЛОТ
									.stat__item-col.stat__item-col_info 450 шт.
									.stat__item-col.stat__item-col_info 10 ед. #[i.ico(data-tooltip, data-tooltip-title='Большой Заголовок', data-tooltip-text='Создавайте уникальный пароль к каждой из учетных записей. Используйте буквы разного регистра (Заглавные и прописные). добавляйете цифры и служеюные символы. Придумайте длинный пароль - это основное правило. “Длинный и надежный пароль не должен быть бессмысленным. - объясняет технолонический эксперт'): img.svg(src='/img/ico/simp-ico-eye_1.svg', alt='')]
									.stat__item-col.stat__item-col_info 4 500 ед.
									.stat__item-col.stat__item-col_clear
										i.ico

					.stat__foot
						.stat__foot-text Общий расход топлива #[span.val 10 500 0000 ед.]
						.stat__foot-clear



	.popup__overlay