.popup.popup_attackdefense
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Атака и оборона
			.popup__head
				a(href='#').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-attack.svg', alt='')] #[span Отправленынй флот]
				a(href='#').popup__head-item #[i.ico: img.svg(src='/img/ico/simp-ico-defense.svg', alt='')] #[span Оборона]

			.popup__content.js-scroll-wrap
				.force
					.force__list
						.force__item
							.force__item-first
								.force__item-row
									.force__item-name
										.force__item-name-title Ваш флот атакует Планету Terra Nova

									.force__item-path
										.game__force-item.game__force-item_attack
											.game__force-timer: span 05:25:28
											.game__force-path
												.game__force-path-start: include ../../img/ico/ico-planet.svg
												.game__force-path-rocket(style='width:70%;'): i: include ../../img/ico/ico-rocket.svg
												.game__force-path-finish: include ../../img/ico/ico-planet.svg

							.force__item-all
								.force__item-row
									.force__item-name

									.force__item-path
										.force__item-path
											.game__force-item.game__force-item_attack
												.game__force-timer: span 10:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:40%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg

								.force__item-row
									.force__item-name

									.force__item-path
										.force__item-path
											.game__force-item.game__force-item_attack
												.game__force-timer: span 12:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:35%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg


							.force__item-next

						.force__item
							.force__item-first
								.force__item-row
									.force__item-name
										.force__item-name-title Ваш флот атакует Планету Terra Nova

									.force__item-path
										.game__force-item.game__force-item_protection
											.game__force-timer: span 05:25:28
											.game__force-path
												.game__force-path-start: include ../../img/ico/ico-planet.svg
												.game__force-path-rocket(style='width:70%;'): i: include ../../img/ico/ico-rocket.svg
												.game__force-path-finish: include ../../img/ico/ico-planet.svg

							.force__item-all
								.force__item-row
									.force__item-name

									.force__item-path
										.force__item-path
											.game__force-item.game__force-item_protection
												.game__force-timer: span 10:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:40%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg

								.force__item-row
									.force__item-name

									.force__item-path
										.force__item-path
											.game__force-item.game__force-item_protection
												.game__force-timer: span 12:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:35%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg


								.force__item-row
									.force__item-name

									.force__item-path
										.force__item-path
											.game__force-item.game__force-item_protection
												.game__force-timer: span 12:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:35%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg


							.force__item-next

						- for (var i=0; i<10; i++)
							.force__item
								.force__item-first
									.force__item-row
										.force__item-name
											.force__item-name-title Ваш флот атакует Планету Terra Nova

										.force__item-path
											.game__force-item.game__force-item_attack
												.game__force-timer: span 05:25:28
												.game__force-path
													.game__force-path-start: include ../../img/ico/ico-planet.svg
													.game__force-path-rocket(style='width:70%;'): i: include ../../img/ico/ico-rocket.svg
													.game__force-path-finish: include ../../img/ico/ico-planet.svg

								.force__item-all
									.force__item-row
										.force__item-name

										.force__item-path
											.force__item-path
												.game__force-item.game__force-item_attack
													.game__force-timer: span 10:25:28
													.game__force-path
														.game__force-path-start: include ../../img/ico/ico-planet.svg
														.game__force-path-rocket(style='width:40%;'): i: include ../../img/ico/ico-rocket.svg
														.game__force-path-finish: include ../../img/ico/ico-planet.svg

									.force__item-row
										.force__item-name

										.force__item-path
											.force__item-path
												.game__force-item.game__force-item_attack
													.game__force-timer: span 12:25:28
													.game__force-path
														.game__force-path-start: include ../../img/ico/ico-planet.svg
														.game__force-path-rocket(style='width:35%;'): i: include ../../img/ico/ico-rocket.svg
														.game__force-path-finish: include ../../img/ico/ico-planet.svg


								.force__item-next

	.popup__overlay