.popup.popup_shop
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Игровые покупки
			.popup__head
				a(href='#').popup__head-item.is-active #[span Рубли]
				a(href='#').popup__head-item #[span Доллары]
				a(href='#').popup__head-item #[span Евро]
				a(href='#').popup__head-item #[span Чешская крона]
			.popup__content
				.popup__menu
					.popup__menu-item: a(href='#').btn ПРЕДМЕТЫ
					.popup__menu-item: a(href='#').btn.is-active КОРАБЛИ
					.popup__menu-item: a(href='#').btn ОФИЦЕРЫ
					.popup__menu-item: a(href='#').btn РЕСУРСЫ
				.popup__shop.js-scroll-wrap
					.popup__shop-list
						- for (var i=1; i<=17; i++)
							.popup__shop-item
								.popup__shop-title 1000 Легких истребителей
								.popup__shop-logo
									+keepItem('factories', 0, false)
								.popup__shop-price 140 000 р.
								.popup__shop-sale Скидка 10%
								.popup__shop-buy
									.btn Купить

	.popup__overlay