.popup.popup_messages
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Сообщения
			.popup__head
				a(href='#', data-tab-link='messages_1', data-tab-group='messages').popup__head-item.is-active #[span Шпионаж]
				a(href='#', data-tab-link='messages_2', data-tab-group='messages').popup__head-item #[span Боевые отчеты]
				a(href='#', data-tab-link='messages_3', data-tab-group='messages').popup__head-item #[span Экспедиции]
				a(href='#', data-tab-link='messages_4', data-tab-group='messages').popup__head-item #[span Транспорт]
			.popup__content
				- for (var j=1; j<=4; j++)
					.popup__messages-tab(data-tab-targ='messages_#{j}', data-tab-group='messages', class= j==1 ? 'is-active' : '')
						.popup__menu
							.popup__menu-item: a(href='#').btn ФЛОТЫ
							.popup__menu-item: a(href='#').btn.is-active СООБЩЕНИЯ
							.popup__menu-item: a(href='#').btn ТЕХПОДДЕРЖКА
							.popup__menu-item: a(href='#').btn РАЗДЕЛ
						.popup__messages.js-scroll-wrap
							.popup__messages-list
								- for (var i=1; i<=17; i++)
									.popup__messages-item
										.popup__messages-remove
										.popup__messages-look
										.popup__messages-title Флот достиг точки назначения
										.popup__messages-info [ 4:202:102 ] #[i] [ 4:202:102 ]
										.popup__messages-text Флот прибыл к точке назначения - на планету TerraNova созвездия 1: 30:430. Результатом атаки точке назначения - на планету TerraNova созвездия 1: 30:430. Результатом атаки

	.popup__overlay