mixin planet(type, satellite)
	.system__orbit-item
		.planet
			.planet__satellite.planet__satellite_top
				.planet__satellite-item
			.planet__item
				.planet__satellite.planet__satellite_bottom
					.planet__satellite-item

.popup.popup_orbit
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Звездная система
			.popup__head
				.popup__head-name Галактика

				.popup__head-counter
					.popup__head-counter-arrow.popup__head-counter-arrow_prev
					.popup__head-counter-field
						.counter
							.counter__down
							.counter__value 010
							.counter__up

					.popup__head-counter-arrow.popup__head-counter-arrow_next

				.popup__head-name Система

				.popup__head-counter
					.popup__head-counter-arrow.popup__head-counter-arrow_prev
					.popup__head-counter-field
						.counter
							.counter__down
							.counter__value 102
							.counter__up
					.popup__head-counter-arrow.popup__head-counter-arrow_next

				.popup__head-btn
					a(href='#').btn.btn_big Перейти

			.popup__content
				.system
					.system__menu
						a(href='#').system__menu-item.system__menu-item_prev Система 101
						.system__menu-item.system__menu-item_current Система 102
						a(href='#').system__menu-item.system__menu-item_next Система 103
					.system__orbit.js-scroll-hor
						.system__orbit-inner
							.system__orbit-sphere
								.sphere
									.sphere__item.sphere__item_cold
									.sphere__item.sphere__item_norm
									.sphere__item.sphere__item_norm
									.sphere__item.sphere__item_norm
									.sphere__item.sphere__item_norm
									.sphere__item.sphere__item_norm
									.sphere__item.sphere__item_warm
									.sphere__item.sphere__item_burn

							.system__orbit-list.system__orbit-list_burn
								.system__orbit-status Слишком горячо

								.system__orbit-solar
									.solar.solar_small

								.system__orbit-item
									.planet
										.planet__item.planet__item_search
											.tjs-planet(
											data-planet-mapspeed = '2',
											data-planet-maptexturesmap = '/img/planets3d/small/marsmap.jpg',
											data-planet-maptexturesbumpmap = '/img/planets3d/small/marsbump.jpg',
											)

							.system__orbit-list.system__orbit-list_warm
								.system__orbit-status Горячо

								.system__orbit-item
									.planet
										.planet__satellite.planet__satellite_top
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item
										.planet__item.planet__item_fill
											.tjs-planet(
											data-planet-mapspeed = '7',
											data-planet-maptexturesmap = '/img/planets3d/small/mercurymap.jpg',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item

										.planet__info.planet__info_top
											.planet__info-head
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-search.svg', alt='')
													span Посмотреть
											.planet__info-name Нептун
										.planet__info.planet__info_bottom
											.planet__info-status
											.planet__info-links
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-person.svg', alt='')
													span UserName
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-orden.svg	', alt='')
													span TeamGroup
											.planet__info-message
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-messages.svg', alt='')
													span Сообщения
											.planet__info-coord &#216;12.800 км<br>от 11Сo до 29Сo <br> Место  [1:39:10]

							.system__orbit-list.system__orbit-list_norm
								.system__orbit-status.clr_white Благоприятная зона

								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet.tjs-planet(
											data-planet-mapspeed = '1',
											data-planet-maptexturesmap = '/img/planets3d/small/earth-map.jpg',
											data-planet-maptexturesbumpmap = '/img/planets3d/small/earth-bump.jpg',
											data-planet-maptexturesspecularmap = '/img/planets3d/small/earth-specular.jpg',
											data-planet-cloudstexturesmap = '/img/planets3d/small/earth-clouds.jpg',
											data-planet-cloudstexturesalphamap = '/img/planets3d/small/earth-cloudstransperent.jpg',
											data-planet-cloudsspeed = '2',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item

										.planet__info.planet__info_top
											.planet__info-head
												a(href='#', title='Смотреть').link: i.ico: img.svg(src='/img/ico/simp-ico-eye.svg', alt='')
												a(href='#', title='Обделаться').link: i.ico: img.svg(src='/img/ico/simp-ico-bomb.svg', alt='')
												a(href='#', title='Атаковать').link: i.ico: img.svg(src='/img/ico/simp-ico-attack.svg', alt='')
											.planet__info-name Нептун
										.planet__info.planet__info_bottom
											.planet__info-status.is-attacked
											.planet__info-links
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-person.svg', alt='')
													span UserName
												a(href='#').link
													i.ico: img.svg(src='/img/ico/ico-orden.svg	', alt='')
													span TeamGroup
											.planet__info-coord &#216;12.800 км<br>от 11Сo до 29Сo <br> Место  [1:39:10]

								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet(
											data-planet-mapspeed = '4',
											data-planet-maptexturesmap = '/img/planets3d/small/plutomap.jpg',
											data-planet-maptexturesbumpmap = '/img/planets3d/small/plutobump.jpg',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item
											.planet__satellite-item

										.planet__info.planet__info_top
											.planet__info-head
												a(href='#').link
													i.ico: img.svg(src='/img/ico/simp-ico-flag.svg', alt='')
													span Посмотреть
											.planet__info-name Нептун
										.planet__info.planet__info_bottom
											.planet__info-status
											.planet__info-coord &#216;12.800 км<br>от 11Сo до 29Сo <br> Место  [1:39:10]


								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet(
											data-planet-mapspeed = '5',
											data-planet-maptexturesmap = '/img/planets3d/small/venusmap.jpg',
											data-planet-maptexturesbumpmap = '/img/planets3d/small/venusbump.jpg',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item

								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet(
											data-planet-mapspeed = '3',
											data-planet-maptexturesmap = '/img/planets3d/small/jupitermap.jpg',
											)

								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet(
											data-planet-mapspeed = '1',
											data-planet-maptexturesmap = '/img/planets3d/small/neptunemap.jpg',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item
											.planet__satellite-item


							.system__orbit-list.system__orbit-list_cold
								.system__orbit-status Холодно
								.system__orbit-item
									.planet
										.planet__item
											.tjs-planet(
											data-planet-mapspeed = '2',
											data-planet-maptexturesmap = '/img/planets3d/small/uranusmap.jpg',
											)
										.planet__satellite.planet__satellite_bottom
											.planet__satellite-item


	.popup__overlay

