.popup.popup_blackmarket
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Игровые покупки
			.popup__head
				.popup__head-item.is-active(data-tab-link='market_1', data-tab-group='market') #[span Ресурсы]
				.popup__head-item(data-tab-link='market_2', data-tab-group='market') #[span Корабли]
				.popup__head-item(data-tab-link='market_3', data-tab-group='market') #[span Здания]
				.popup__head-item(data-tab-link='market_4', data-tab-group='market') #[span Технологии]
				.popup__head-item.popup__head-item_add #[span Баланс #[b 150 В]]
			.popup__content
				.popup__market
					.popup__market-inner.is-active(data-tab-targ='market_1', data-tab-group='market')
						.popup__market-head
							.storage-line
							.storage-progress
								.storage-progress__name Хранилище
								.storage-progress__line: i(style='width: 58%')
								.storage-progress__info 1 000 000 000 / 650 000 000

						.popup__market-list.js-scroll-wrap
							.storage
								.storage__group
									.storage__type
										.storage__type-inner
											.storage__type-ico: i.ico: img.svg(src='/img/ico/market-storage-1.svg')
											.storage__type-name Металл

									.storage__list
										- for (var i=1; i<=3; i++)
											.storage__item
												.storage__item-inner
													.storage__item-text Заполнить на
													.storage__item-val 50%
													.storage__item-text Стоимость
													.storage__item-price 245 000 ТМ
													.storage__item-buy: a(href='#').btn Купить

								.storage__group
									.storage__type
										.storage__type-inner
											.storage__type-ico: i.ico: img.svg(src='/img/ico/market-storage-2.svg')
											.storage__type-name Металл

									.storage__list
										- for (var i=1; i<=3; i++)
											.storage__item
												.storage__item-inner
													.storage__item-text Заполнить на
													.storage__item-val 50%
													.storage__item-text Стоимость
													.storage__item-price 245 000 ТМ
													.storage__item-buy: a(href='#').btn Купить

								.storage__group
									.storage__type
										.storage__type-inner
											.storage__type-ico: i.ico: img.svg(src='/img/ico/market-storage-1.svg')
											.storage__type-name Металл

									.storage__list
										- for (var i=1; i<=3; i++)
											.storage__item
												.storage__item-inner
													.storage__item-text Заполнить на
													.storage__item-val 50%
													.storage__item-text Стоимость
													.storage__item-price 245 000 ТМ
													.storage__item-buy: a(href='#').btn Купить

								.storage__group
									.storage__type
										.storage__type-inner
											.storage__type-ico: i.ico: img.svg(src='/img/ico/market-storage-2.svg')
											.storage__type-name Металл

									.storage__list
										- for (var i=1; i<=3; i++)
											.storage__item
												.storage__item-inner
													.storage__item-text Заполнить на
													.storage__item-val 50%
													.storage__item-text Стоимость
													.storage__item-price 245 000 ТМ
													.storage__item-buy: a(href='#').btn Купить


					.popup__market-inner(data-tab-targ='market_2', data-tab-group='market')
						.popup__market-head
							.popup__market-title Вы можете купить любое количество кораблей. Корабли будут немедленно доставлены на вашу планету
						.popup__market-list.js-scroll-wrap
							.market
								- for (var i=1; i<=20; i++)
									.market__item
										.market__logo
											+keepItem('fleet', 0, false)
										.market__title Легкий истребитель
										.market__text Стоимость
										.market__price 45 000 TM
										.market__counter
											.counter
												.counter__down
												.counter__value 102
												.counter__up
										.market__price Всего: 245 000 ТМ
										.market__buy
											.btn Купить

					.popup__market-inner(data-tab-targ='market_3', data-tab-group='market')
						.popup__market-head
							.popup__market-title Вы можете купить любую технологию следуйщиго уровня. Она будет добавленна в базу.
						.popup__market-list.js-scroll-wrap
							.market
								- for (var i=1; i<=20; i++)
									.market__item
										.market__logo
											+keepItem('factories', 0, false)
										.market__title Название постройки
										.market__text Стоимость
										.market__price 1 500 TM
										.market__lvl
											.market__lvl-item 5 lv
										.market__buy
											.btn Купить

					.popup__market-inner(data-tab-targ='market_4', data-tab-group='market')
						.popup__market-head
							.popup__market-title Вы можете купить любую технологию следуйщиго уровня. Она будет добавленна в базу.
						.popup__market-list.js-scroll-wrap
							.market
								- for (var i=1; i<=20; i++)
									.market__item
										.market__logo
											+keepItem('technology', 0, false)
										.market__title Название технологии
										.market__text Стоимость
										.market__price 1 500 TM
										.market__lvl
											.market__lvl-item 5 lv
										.market__buy
											.btn Купить



	.popup__overlay