.aside{
	background: #222328;
	position: absolute;
	top:0;
	height: 100%;
	@include pxToRem(width, 410);
	@include box-sizing();
	@include pxToRem(padding, 30, 0);
	@include pxToRem(left, -410);
	@include transition(left 0.3s ease);


	&__logo{
		@include pxToRem(height, 205);
		@include pxToRem(margin, 0, 40, 40);
		background: #2d2f35;
	}

	&__menu{

		@include pxToRem(height, 670);
		&-item{
			&:not(:first-child){
				border-top: solid #0d0d0f;
				@include pxToRem(border-width, 2);
			}


			&_submenu{

				.aside__menu-link{
					position: relative;

					&:before,
					&:after{
						content: '';
						position: absolute;
						@include pxToRem(width, 10);
						@include pxToRem(height, 2);
						display: block;
						background: $colorBg;
						@include border-radius(10px);
						@include pxToRem(right, 50);
						top:50%;
						@include pxToRem(margin-top, -1);
						@include transition();
					}

					&:before{
						@include pxToRem(margin-right, -1);
						@include transform(rotate(45deg));
					}

					&:after{
						@include pxToRem(margin-right, -7);
						@include transform(rotate(-45deg));
					}
				}

				&.is-open{
					.aside__menu-link{
						&:before{
							@include transform(rotate(-45deg));
						}

						&:after{
							@include transform(rotate(45deg));
						}
					}
				}

			}
		}
		&-link{
			@include pxToRem(font-size, 17);
			color: #b0cad8;
			display: block;
			@include pxToRem(height, 47);
			@include pxToRem(padding, 15, 40);
			cursor: pointer;

			&:hover{
				color: #fff;
			}
		}
		&-ico{
			@include pxToRem(width, 47);
			@include pxToRem(height, 47);
			float: left;
		}
		&-name{
			@include pxToRem(margin-left, 70);
			@include pxToRem(margin-top, 12);

			span{
				display: inline-block;
				@include pxToRem(padding, 0, 8);
				@include pxToRem(border-radius, 4);
				@include pxToRem(height, 20);
				@include pxToRem(line-height, 20);
				@include pxToRem(font-size, 14);
				color: #fff;
			}
		}
	}


	&__submenu{
		display: none;
		@include pxToRem(padding-bottom, 15);

		&-item{

		}

		&-link{
			color: #b0cad8;
			display: block;
			cursor: pointer;
			@include pxToRem(padding, 10, 40, 10 , 110);

			&:hover{
				color: #fff;
			}
		}
	}

	&_open{
		left: 0;

		& ~ {
			.header{
				@include pxToRem(left, 410);

				.header__label{
					.ico{
						@include pxToRem(width, 2);
						@include pxToRem(height, 2);
						@include pxToRem(margin-left, 7);
						@include pxToRem(margin-right, 7);

						&:before{
							@include pxToRem(top, 1);
							@include transform(rotate(135deg))
						}

						&:after{
							@include pxToRem(top, 1);
							@include transform(rotate(45deg))
						}
					}
				}
			}

			.game{
				@include pxToRem(left, 410);
			}
		}

	}
}