.header{
	height: $headerHeight;
	background: #000;
	color: $colorText;
	position: relative;
	z-index: 2;
	margin-bottom: $lineHeight;



	@include transition(left 0.3s ease);
	left: 0;

	& ~ .game{
		height: calc(100% - 3.125rem);
		min-height: auto;
	}

	&__inner{
		display: table;
		width: 100%;
		height: 100%;
	}

	a:hover{
		.value{
			text-decoration: underline;
		}
	}

	.ico{
		vertical-align: middle;
		display: inline-block;

		svg,
		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	.value{
		vertical-align: middle;
		display: inline-block;
	}

	.count{
		background: $colorYellow;
		@include pxToRem(height, 22);
		@include pxToRem(line-height, 24);
		@include pxToRem(padding, 0, 7);
		color: #000;
		display: inline-block;
		@include pxToRem(border-radius, 4);
		@include pxToRem(margin-left, 12);
		@include pxToRem(font-size, 14);
		font-weight: 900;
	}

	.arrow{
		@include pxToRem(width, 16);
		@include pxToRem(height, 16);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		@include pxToRem(margin-left, 12);

		&:before,
		&:after{
			content: '';
			@include pxToRem(height, 4);
			@include pxToRem(width, 12);
			background: currentColor;
			display: block;
			position: absolute;
			@include pxToRem(margin-top, -2);
			top:50%;
			left: 50%;
			@include transition(all $animateTime);
		}

		&:before{
			@include pxToRem(margin-left, -10);
			@include transform(rotate(45deg));
		}

		&:after{
			@include pxToRem(margin-left, -4);
			@include transform(rotate(-45deg));
		}
	}


	&__label{
		white-space: nowrap;
		height: $headerHeight;
		line-height: $headerHeight;
		@include pxToRem(font-size, 20);
		@include user-select();

		&:hover{
			color: #fff;
		}
	}

	&__dropdown{
		position: absolute;
		background: $colorDD;
		@include pxToRem(border-radius, 0, 10, 10, 10);
		@include pxToRem(top, 60);
		left: 0;
		min-width: 100%;
		display: none;


		&-list{
			@include pxToRem(padding, 10, 25);
		}

		&-item{
			display: block;
			@include pxToRem(margin, 15, 0);
			white-space: nowrap;

			&:hover{
				color: #fff;
			}
		}
	}

	&__menu{
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		border-right: solid $colorDark;
		@include pxToRem(border-right-width, 4);

		.header__label{
			@include pxToRem(padding, 0, 35);
			cursor: pointer;

			.ico{
				@include pxToRem(width, 16);
				@include pxToRem(height, 2);
				@include border-radius(10rem);
				background: currentColor;
				position: relative;
				//@include pxToRem(margin-left, 22);

				&:before,
				&:after{
					content: '';
					display: block;
					background: currentColor;
					@include pxToRem(width, 16);
					@include pxToRem(height, 2);
					position: absolute;
					left: 50%;
					@include pxToRem(margin-left, -8);
					@include pxToRem(margin-top, -1);
					@include transition(all $animateTime);
				}

				&:before{
					@include pxToRem(top, -5);
				}

				&:after{
					@include pxToRem(top, 7);
				}

			}
		}

	}

	&__messages{
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		border-right: solid $colorDark;
		@include pxToRem(border-right-width, 4);
		position: relative;

		.header{

			&__label {
				@include pxToRem(padding, 0, 30, 0, 25);
				cursor: pointer;

				.ico {
					@include pxToRem(width, 20);
					@include pxToRem(height, 20);
					//background: url("/img/ico/ico-messages.svg") no-repeat 50% 50%;
					//background-size: contain;
					@include pxToRem(margin-right, 7);
				}
			}

			&__dropdown{
				@include pxToRem(font-size, 17);
			}
		}
	}

	&__treasure{
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		border-right: solid $colorDark;
		@include pxToRem(border-right-width, 4);
		@include pxToRem(padding, 0, 35);

		&-title{
			display: inline-block;
			@include pxToRem(font-size, 20);
			font-weight: 700;
			color: #fff;
			vertical-align: middle;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(font-size, 15);
			position: relative;

			&:hover,
			&.is-open{
				color: #fff;
			}
		}

		&-label{
			cursor: pointer;
			@include user-select();
			@include pxToRem(margin-left, 10);
			@include pxToRem(border-radius, 5);
			@include pxToRem(padding, 3, 7);

			.ico{
				@include pxToRem(width, 24);
				@include pxToRem(height, 24);
				@include border-radius(50%);
				//background: $colorDark;
				@include pxToRem(margin, 0, 5, 0, 0);
			}
		}

		.header__dropdown{
			@include pxToRem(width, 430);
			@include pxToRem(margin-left, -215);
			@include pxToRem(left, 34);
			@include pxToRem(border-radius, 10);

			&:before{
				content: '';
				height: 0;
				width: 0;
				display: block;
				border: solid transparent;
				@include pxToRem(border-width, 14);
				border-bottom-color: $colorDD;
				position: absolute;
				@include pxToRem(top, -26);
				left: 50%;
				@include pxToRem(margin-left, -14);
			}
		}

		&-inner{
			@include pxToRem(padding, 15, 20, 15, 15);
			overflow: hidden;
		}

		&-ico{
			@include pxToRem(width, 65);
			@include pxToRem(min-height, 65);
			float: left;

			img,
			svg{
				width: 100%;
				display: block;
			}
		}

		&-info{
			@include pxToRem(margin-left, 85);
		}

		&-table{
			display: table;
			width: 100%;
		}

		&-row{
			display: table;
			width: 100%;
			@include pxToRem(font-size, 14);

			&_head{
				@include pxToRem(font-size, 20);
				font-weight: 700;
				@include pxToRem(padding-bottom, 8);
			}

			&_action{
				@include pxToRem(padding-top, 10);

				.ico{
					@include pxToRem(width, 30);
					@include pxToRem(height, 30);
					@include pxToRem(margin-right, 10);
				}
				b{
					@include pxToRem(font-size, 20);
					vertical-align: middle;
					@include pxToRem(margin-left, 5);
				}
			}

			.btn{
				color: #fff;
			}
		}

		&-name{
			display: table-cell;
			color: $colorText;
			@include pxToRem(padding, 1, 0);
		}

		&-value{
			display: table-cell;
			text-align: right;
			@include pxToRem(padding, 1, 0);
		}

	}
	&__place{
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		border-right: solid $colorDark;
		@include pxToRem(border-right-width, 4);
		position: relative;
		@include pxToRem(font-size, 20);
		font-weight: 700;


		.ico{
			@include pxToRem(margin-right, 10);
			@include pxToRem(width, 24);
			@include pxToRem(height, 24);
		}

		.header__label{
			@include pxToRem(padding, 0, 30);
			cursor: pointer;
		}

		&.is-open{

			.arrow{

				&:before{
					@include transform(rotate(-45deg));
				}

				&:after{
					@include transform(rotate(45deg));
				}
			}
		}

	}
	&__world{
		display: table-cell;
		vertical-align: middle;
		width: 1%;

		.header__label{
			@include pxToRem(padding, 0, 40, 0, 26);
			cursor: pointer;

			.ico{
				@include pxToRem(width, 26);
				@include pxToRem(height, 26);
				//background: url("/img/ico/ico-world.svg") no-repeat 50% 50%;
				//background-size: contain;
				@include pxToRem(margin-left, 12);
			}
		}
	}

	.is-open{
		.header__label{
			color: #fff;
		}
		.header__dropdown{
			display: block;
		}
	}

	&__line{
		background: $colorBlue;
		height: $lineHeight;
		min-width: 1px;
		width: 100%;
		position: absolute;
		bottom: -$lineHeight;

		background: #e32632;
		background: -moz-linear-gradient(left, #e32632 0%, #e32632 51%, #ff8832 68%, #e32632 87%, #e32632 100%);
		background: -webkit-linear-gradient(left, #e32632 0%,#e32632 51%,#ff8832 68%,#e32632 87%,#e32632 100%);
		background: linear-gradient(to right, #e32632 0%,#e32632 51%,#ff8832 68%,#e32632 87%,#e32632 100%);
	}
}