.game{

	&_login{
		//background: url("/img/login_bg.jpg") no-repeat 50% 0;
		//background-attachment: fixed;
		//background-size: cover;

		@include pxToRem(padding-bottom, 70);
	}


	&__login{

		&-header{
			text-align: center;
			@include pxToRem(padding-top, 50);
			//@include pxToRem(margin-bottom, 70);

			.title{
				@include pxToRem(font-size, 75);
				@include pxToRem(margin-bottom, 25);
				font-weight: 100;
				color: #fff;
			}
			.subtitle{
				@include pxToRem(font-size, 30);
				@include pxToRem(margin-bottom, 10);
				font-weight: 100;
				color: #fff;
			}
			.text{
				@include pxToRem(font-size, 15);
				font-weight: 400;
				color: rgba(#8990AD, 0.4);
			}
		}

		&-logo{
			@include pxToRem(width, 920);
			@include pxToRem(height, 510);
			margin: 0 auto;
			@include pxToRem(margin-top, 100);
			@include pxToRem(margin-bottom, 60);

			img{
				height: 100%;
				width: 100%;
			}
		}

		&-enter{
			position: relative;
			z-index: 1;
			text-align: center;
			@include pxToRem(height, 50);
		}

		&-form{
			//@include pxToRem(width, 380);
			//margin: 0 auto;
			@include pxToRem(margin, 20);
			display: inline-block;
			position: relative;
			@include pxToRem(height, 46);

			&_auth{

				@include pxToRem(width, 150);

				&.is-open{
					.enter{
						@include pxToRem(left, 20);
						@include pxToRem(top, -505);
					}
				}
			}

			&_reg{
				@include pxToRem(width, 250);
				//background: $colorBlueLight;

				&.is-open{
					.enter{
						@include pxToRem(left, -180);
						@include pxToRem(top, -570);
					}
				}
			}

			&.is-open{
				z-index: 1;

				.enter{
					@include pxToRem(padding, 20, 35);
					@include pxToRem(width, 380);
				}

				.enter__close{
					display: block;
				}
			}

			&.is-closed{

				.enter__title{
					cursor: pointer;
				}

				.enter__form{
					display: none;
				}
			}
		}

		&-footer{
			text-align: center;
			@include pxToRem(bottom,30);
			width: 100%;
			position: absolute;

			&-link{
				display: inline-block;
				color: rgba(#8990AD, 0.5);
				@include pxToRem(font-size, 16);
				font-weight: 500;
				@include pxToRem(margin, 0, 15);

				&:hover{
					text-decoration: underline;
					color: #fff;
				}
			}
		}
	}
}


.enter{
	@include pxToRem(border-radius, 8);
	background: #22242b;
	@include box-sizing();
	@include transition(all $animateTime);

	@include pxToRem(padding, 10);
	//position: relative;
	position: absolute;
	width: 100%;
	//height: 100%;
	top: 0;
	left: 0;




	&__title{
		color: #fff;
		text-align: center;
		@include pxToRem(font-size, 22);
		font-weight: 600;
		@include user-select();
		white-space: nowrap;


		.ico{
			@include pxToRem(width, 24);
			@include pxToRem(height, 29);
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(margin-top, -5);
			@include pxToRem(margin-right, 5);

			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}

	&__close{
		position: absolute;
		@include pxToRem(width, 17);
		@include pxToRem(height, 17);
		vertical-align: middle;
		opacity: 0.3;
		cursor: pointer;
		@include pxToRem(top, 10);
		@include pxToRem(right, 10);
		display: none;

		&:hover{
			opacity: 1;
		}

		svg{
			width: 100%;
			height: 100%;

			path{
				fill: #fff;
			}
		}
	}

	&__form{

		//display: none;

		&-field{
			@include pxToRem(margin, 12, 0);

			&.is-error{
				.enter__form-message{
					display: block;
					background: $colorRed;

					&:before{
						border-right-color: $colorRed;
					}
				}

				.enter__form-status{
					display: block;
					background-image: url("/img/ico/ico-input-status-red.svg");
				}
			}

			&.is-success{

				.enter__form-status{
					display: block;
					background-image: url("/img/ico/ico-input-status-blue.svg");
				}
			}
		}

		&-input{
			position: relative;

			input{
				display: block;
				width: 100%;
				@include pxToRem(height, 66);
				border: solid #22242b;
				@include pxToRem(border-radius, 8);
				cursor: $colorDark;
				@include pxToRem(border-width, 3);
				@include box-sizing();
				@include pxToRem(font-size, 16);
				@include pxToRem(padding, 0, 75, 0, 23);
				@include transition(all $animateTime);
				@include box-shadow(0 0 0 #000);
				background: rgba(#fff, 0.8);

				&:focus{
					@include box-shadow(0 0 30px -5px rgba(0, 0, 0, 0.9));
					background: rgba(#fff, 1);

					.game__login-form_auth &{
						border-color: #919191;
					}

					& ~ .enter__form-controls{
						display: block;
					}

					& ~ .enter__form-status{
						display: none!important;
					}

				}


				.game__login-form_reg &{
					//border-color: $colorBlueLight;
				}
			}
		}

		&-controls{

			color: $colorText;
			position: absolute;
			@include pxToRem(top, 22);
			@include pxToRem(right, 18);
			display: none;

			&-clear{
				@include pxToRem(width, 17);
				@include pxToRem(height, 18);
				display: inline-block;
				vertical-align: middle;
				opacity: 0.3;
				cursor: pointer;

				&:hover{
					opacity: 1;
				}

				img{
					width: 100%;
					height: 100%;
				}
			}

			&-notepad{
				@include pxToRem(width, 31);
				@include pxToRem(height, 18);
				display: inline-block;
				vertical-align: middle;
				opacity: 0.3;
				cursor: pointer;
				@include pxToRem(margin-left, 3);

				&:hover{
					opacity: 1;
				}

				img{
					width: 100%;
					height: 100%;
				}
			}
		}

		&-message{
			background: $colorDark;
			@include pxToRem(border-radius, 5);
			position: absolute;
			display: none;
			left: 100%;
			@include pxToRem(top, 12);
			@include pxToRem(margin-left, -5);
			@include pxToRem(padding, 12, 15);
			@include pxToRem(width, 180);
			@include pxToRem(min-height, 17);
			color: #fff;
			z-index:5;
			@include pxToRem(font-size, 16);

			&:before{
				content: '';
				display: block;
				position: absolute;
				border: solid transparent;
				@include pxToRem(border-width, 10);
				border-right-color: $colorDark;
				@include pxToRem(top, 10);
				@include pxToRem(left, -19);
			}
		}

		&-status{
			@include pxToRem(width, 22);
			@include pxToRem(height, 22);
			position: absolute;
			@include pxToRem(top, 22);
			@include pxToRem(right, 18);
			display: none;
			background: no-repeat 50% 50%;
			background-size: contain;
		}

		&-footnote{
			@include pxToRem(font-size, 11);
			@include pxToRem(margin, 2, 0);
			text-align: right;
			color: rgba(#fff, 0.5);
			position: relative;

			&.is-open{
				.enter__form-footnote-tooltip{
					display: block;
				}
			}

			&-tooltip{
				position: absolute;
				background: $colorDark;
				@include pxToRem(padding, 17);
				@include pxToRem(border-radius, 8);
				@include pxToRem(top, -15);
				left: 100%;
				@include pxToRem(width, 245);
				@include pxToRem(margin-left, 20);
				text-align: left;
				color: #fff;
				@include box-sizing();

				display: none;

				&:before{
					content: '';
					position: absolute;
					@include pxToRem(top, 10);
					border: solid transparent;
					@include pxToRem(border-width, 10);
					border-right-color: $colorDark;
					@include pxToRem(top, 12);
					@include pxToRem(left, -19);
				}

				.title{
					@include pxToRem(font-size, 16);
					@include pxToRem(margin-bottom, 5);
				}

				.text{
					@include pxToRem(font-size, 12);
					@include pxToRem(max-height, 140);
					@include pxToRem(margin-right, -15);

					p{
						@include pxToRem(padding-right, 20);
					}
				}
			}
		}
	}

	&__system{
		@include pxToRem(margin, 20, 0);
		position: relative;


		&-wrap{
			@include pxToRem(margin, 0, 50);
			color: #fff;
			text-align: center;
			position: relative;
			z-index: 1;
			border: solid rgba(#fff, 0.5);
			@include pxToRem(border-width, 2);
			cursor: pointer;
			@include pxToRem(font-size, 16);
			@include pxToRem(line-height, 38);
			@include pxToRem(height, 38);
			display: block;
			@include pxToRem(padding, 0, 10);
			@include pxToRem(border-radius, 3);

			&:hover{
				background: rgba(#fff, 0.2);



				.enter__system-ico{
					opacity: 0.8;
				}
				.enter__system-handle{
					border-color: rgba(#fff, 0.8);
				}
			}

			&.is-open{
				background: rgba(#fff, 1);
				color: $colorDark;
				border-color: rgba(#fff, 1);

				.enter__system-list{
					display: block;
				}
				.enter__system-ico{
					opacity: 1;
				}

				.enter__system-handle{
					border-color: rgba(#fff, 1);
					img{
						@include transform(scale(-1));
					}
				}
			}
		}


		&-current{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

		}

		&-list{
			position: absolute;
			@include pxToRem(left, -2);
			@include pxToRem(right, -2);
			@include box-sizing();
			border: solid #fff;
			color: #fff;
			@include pxToRem(border-width, 2);
			border-top: 0;
			@include pxToRem(border-radius, 0, 0, 3, 3);
			@include pxToRem(max-height, 170);
			@include box-shadow(0 0 10px rgba(0,0,0,0.5));
			display: none;
			background: $colorDark;

			.game__login-form_reg &{
				//background: #39A1F0;
			}
		}

		&-item{
			@include pxToRem(padding, 10, 15);
			line-height: 1.2;
			&:hover{
				background: rgba(#000, 0.5);

				.game__login-form_reg &{
					//background: rgba(#002C99, 0.5);
				}
			}
		}


		&-ico{
			@include pxToRem(width, 38);
			@include pxToRem(height, 38);
			position: absolute;
			@include pxToRem(top, 0);
			@include pxToRem(left, -50);
			opacity: 0.5;

			img{
				width: 100%;
				height: 100%;
			}
		}

		&-handle{
			@include pxToRem(width, 34);
			@include pxToRem(height, 34);
			border-radius: 50%;
			border: solid rgba(#fff, 0.5);
			@include pxToRem(border-width, 2);
			position: absolute;
			@include pxToRem(top, 0);
			@include pxToRem(right, -50);

			img{
				width: 100%;
				height: 100%;
			}
		}
	}

	&__footnote{
		@include pxToRem(font-size, 16);
		color: rgba(#fff, 0.5);
		text-align: center;
		@include pxToRem(margin, 20, 0);
		position: relative;
		@include user-select();

		a{
			text-decoration: underline;
		}
	}

	&__submit{

		color: #fff;
		text-align: center;
		@include pxToRem(margin, 20, 0);
		@include user-select();


		&-btn{
			border: solid rgba(#fff, 0.5);
			@include pxToRem(border-width, 2);
			cursor: pointer;
			@include pxToRem(font-size, 22);
			font-weight: 600;
			@include pxToRem(line-height, 38);
			@include pxToRem(height, 38);
			display: inline-block;
			@include pxToRem(padding, 0, 40);
			@include pxToRem(border-radius, 3);

			&:hover{
				background: rgba(#fff, 0.2);
			}

			&:active{
				background: rgba(#fff, 0.4);
				border-color: rgba(#fff, 1);
			}
		}
	}


	input[type=checkbox]{
		@include pxToRem(width, 10);
		@include pxToRem(height, 10);
		opacity: 0;

		& ~ span{
			position: relative;
			@include pxToRem(padding-left, 25);
			cursor: pointer;

			&:before{
				content: '';
				display: inline-block;
				@include pxToRem(width, 12);
				@include pxToRem(height, 12);
				border: solid #fff;
				@include pxToRem(border-width, 1);
				@include pxToRem(border-radius, 1);
				position: absolute;
				@include pxToRem(top, 5);
				@include pxToRem(left, 0);
				opacity: 0.85;
			}
		}

		&:checked{
			& ~ span{
				&:before{
					background: url("/img/ico/ico-input-dropdown.svg") no-repeat 50% 50%;
					background-size: 150% auto;
				}
			}
		}

	}

}