
html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	//font-size: 100.01%;
	font-size: 16px;
	min-width: $minWidth;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;

	//background: #1d1d1d;
	background: #000;
}


.wrapper  {
	width: 100%;
	height: 100%;
	position: relative;
	//@include pxToRem(min-height, 950);

	//overflow: hidden;


	@include pxToRem(min-height, 920);
	overflow: hidden;
}


.btn{
	@include pxToRem(border-width, 1);
	@include pxToRem(border-radius, 4);
	color: $colorText;
	border-style: solid;
	border-color: $colorText;
	text-align: center;
	@include pxToRem(height, 20);
	@include pxToRem(line-height, 20);
	display: inline-block;
	@include pxToRem(padding, 0, 5);

	&_link{
		cursor: pointer;
	}

	&_big{
		@include pxToRem(height, 48);
		@include pxToRem(padding, 0, 24);
		@include pxToRem(border-radius, 10);
		@include pxToRem(font-size, 21);
		font-weight: 700;
		@include pxToRem(line-height, 48);
		border: solid transparent;
		@include pxToRem(border-width, 2);
		cursor: pointer;
	}

	.ico{
		width: auto;
		@include pxToRem(height, 15);
		margin: 0;
		display: inline-block;
		vertical-align: middle;

		img{
			display: block;
			height: 100%;
		}
	}

	&_blue{
		border-color: $colorBlue;

		&.btn{

			&_solid{
				background-color: $colorBlue;
			}
		}
	}

	&_red{
		border-color: $colorRed;

		&.btn{

			&_solid{
				color: #fff;
				background-color: $colorRed;
			}
		}
	}

	&_green{
		border-color: $colorGreen;

		&.btn{

			&_solid{
				background-color: $colorGreen;
			}
		}
	}

	&_yellow{
		border-color: $colorYellow;

		&.btn{

			&_solid{
				background-color: $colorYellow;
			}
		}
	}

	&_border{
	}

	&_solid{
		color: #000;
	}


	&_lvl{
		display: inline-block;
		@include pxToRem(padding, 0, 12);
		@include pxToRem(height, 25);
		@include pxToRem(line-height, 25);
		border: solid #222222;
		@include pxToRem(border-width, 1);
		@include box-shadow(inset 0 0 0 1px #484d57);
		@include pxToRem(font-size, 14);
		color: $colorText;
	}

}

.svg{
	display: block;
	width: 100%;
	height: 100%;

	polygon,path{
		fill: currentColor;
	}
}

.game {
	position: relative;
	width: 100%;
	//height: 100%;
	@include box-sizing();

	min-height: 100vh;

	&__visual{
		position: absolute;
		@include pxToRem(top, -20);
		@include pxToRem(left, -20);
		@include pxToRem(right, -20);
		@include pxToRem(bottom, -20);

		img{
			display: block;
			width: 94%;
			height: 94%;
			margin: 3%;
		}

		canvas{
			display: block;
		}
	}

	&__galaxy{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;

		canvas{
			display: block;
		}
	}

	@include transition(left 0.3s ease);
	left: 0;

}






.game__content{
	position: relative;
	width: 100%;
	height: 100%;

	@include pxToRem(min-height, 870);

	background: no-repeat 50% 50%;
	background-size: cover;
}







.sselect{
	position: relative;

	&-wrap{
		@include pxToRem(margin, 0, 50);
		color: #fff;
		text-align: center;
		position: relative;
		z-index: 1;
		border: solid rgba(#fff, 0.5);
		@include pxToRem(border-width, 2);
		cursor: pointer;
		@include pxToRem(font-size, 16);
		@include pxToRem(line-height, 38);
		@include pxToRem(height, 38);
		display: block;
		@include pxToRem(padding, 0, 10);
		@include pxToRem(border-radius, 3);

		&:hover{
			background: rgba(#fff, 0.2);



			.sselect-ico{
				opacity: 0.8;
			}
			.sselect-handle{
				border-color: rgba(#fff, 0.8);
			}
		}

		&.is-open{
			background: rgba(#fff, 1);
			color: $colorDark;
			border-color: rgba(#fff, 1);

			.sselect-list{
				display: block;
			}
			.sselect-ico{
				opacity: 1;
			}

			.sselect-handle{
				border-color: rgba(#fff, 1);
				img{
					@include transform(scale(-1));
				}
			}
		}
	}


	&-current{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

	}

	&-list{
		position: absolute;
		@include pxToRem(left, -2);
		@include pxToRem(right, -2);
		@include box-sizing();
		border: solid #fff;
		color: #fff;
		@include pxToRem(border-width, 2);
		border-top: 0;
		@include pxToRem(border-radius, 0, 0, 3, 3);
		@include pxToRem(max-height, 170);
		@include box-shadow(0 0 10px rgba(0,0,0,0.5));
		display: none;
		background: $colorDark;

		.game__login-form_reg &{
			background: #39A1F0;
		}
	}

	&-item{
		@include pxToRem(padding, 10, 15);
		line-height: 1.2;
		&:hover{
			background: rgba(#000, 0.5);

			.game__login-form_reg &{
				background: rgba(#002C99, 0.5);
			}
		}
	}


	&-ico{
		@include pxToRem(width, 38);
		@include pxToRem(height, 38);
		position: absolute;
		@include pxToRem(top, 0);
		@include pxToRem(left, -50);
		opacity: 0.5;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&-handle{
		@include pxToRem(width, 34);
		@include pxToRem(height, 34);
		border-radius: 50%;
		border: solid rgba(#fff, 0.5);
		@include pxToRem(border-width, 2);
		position: absolute;
		@include pxToRem(top, 0);
		@include pxToRem(right, -50);

		img{
			width: 100%;
			height: 100%;
		}
	}


	.mCSB_vertical{
		.mCSB{
			&_scrollTools{

				@include pxToRem(right, 0);

				.mCSB_dragger_bar{
					@include pxToRem(width, 5);
				}
			}
			&_draggerContainer{
				@include pxToRem(top, 5);
				@include pxToRem(bottom, 5);
			}

		}
	}
}










.game__force{
	position: absolute;
	@include pxToRem(top, 15);
	@include pxToRem(right, 40);
	z-index: 1;

	&-group{
		@include pxToRem(border-radius, 10);
		background: rgba(0,0,0,0.5);
		position: relative;
		@include pxToRem(padding, 15, 20, 15, 25);
		overflow: hidden;
		@include transition(all $animateTime);
		@include pxToRem(margin-bottom, 12);
		float: right;
		clear: both;
		color: $colorText;
		font-size: 0;
		@include pxToRem(min-width, 160);


		border: solid $colorDD;
		@include pxToRem(border-width, 2);

		&_more,
		&.is-compact{

			@include pxToRem(padding, 0, 15, 0, 15);
			opacity: 0.5;
			cursor: pointer;

			&:hover{
				opacity: 1;
			}

			.game__force{
				&-title{
					opacity: 0;
					max-height: 0;
					margin: 0;
					@include pxToRem(margin-right, -250);
				}

				&-item{
					&:not(:first-child){
						@include pxToRem(margin-top, -35);
						opacity: 0;
					}
				}

				&-close{
					opacity: 0;
					cursor: default;
				}

				&-path{
					@include pxToRem(width, 38);
					margin-right: 0;
					margin-left: 0;

					&-start{
						opacity: 0;
					}
					&-finish{
						opacity: 0;
					}
				}

				&-ico{
					@include pxToRem(margin-right, 10);
					left: 0;
				}

				&-count{
					@include pxToRem(max-width, 50);
					opacity: 1;
					@include pxToRem(margin-left, 8);
				}
			}
		}


		&_more{
			text-align: right;

			.game__force-text{
				float: left;
				@include pxToRem(margin, 1, 0);
			}
		}

		&_attack{
			color: $colorYellow;
			.game__force-path-finish{
				color: $colorRed;
			}
		}

		&_protection{
			color: $colorRed;
			.game__force-path-finish{
				color: $colorYellow;
			}
		}
	}


	&-title{
		color: $colorText;
		@include pxToRem(padding-right, 30);
		@include pxToRem(font-size, 13);
		@include pxToRem(margin-bottom, 18);
		@include pxToRem(margin-top, 5);
		@include pxToRem(max-width, 330);
		@include pxToRem(max-height, 100);
		@include transition(all $animateTime);
	}

	&-text{
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(font-size, 16);
	}

	&-close{
		@include pxToRem(width, 20);
		@include pxToRem(height, 20);
		cursor: pointer;
		position: absolute;
		@include pxToRem(top, 15);
		@include pxToRem(right, 15);
		@include transition(all $animateTime);

		color: $colorDD;

		&:hover{
			color: #fff;
		}
	}


	&-item{
		display: block;
		white-space: nowrap;
		@include pxToRem(height, 22);
		position: relative;
		@include pxToRem(margin, 13, 0);
		@include transition(all $animateTime);



		&_attack{
			color: $colorYellow;
			.game__force-path-finish{
				color: $colorRed;
			}
		}

		&_protection{
			color: $colorRed;
			.game__force-path-finish{
				color: $colorYellow;
			}
		}
	}

	&-timer{
		@include pxToRem(font-size, 12);
		background: currentColor;
		@include pxToRem(height, 22);
		@include pxToRem(line-height, 22);
		@include pxToRem(padding, 0, 6);
		@include pxToRem(border-radius, 3);
		@include pxToRem(width, 52);
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(margin-right, 10);

		span{
			color: #000;
		}
	}

	&-ico{
		position: relative;
		@include pxToRem(width, 20);
		@include pxToRem(height, 20);
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(margin-right, -20);
		@include transition(all $animateTime);
		@include pxToRem(left, -50);
	}

	&-path{
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(width, 236);
		@include pxToRem(margin, 8, 24);
		@include pxToRem(height, 4);
		background: $colorDark;
		position: relative;
		@include transition(all $animateTime);

		&-start{
			@include pxToRem(width, 24);
			@include pxToRem(height, 24);
			position: absolute;
			@include pxToRem(top, -10);
			@include pxToRem(left, -24);
			@include transition(all $animateTime);
		}

		&-rocket{
			position: absolute;
			top:0;
			left: 0;
			height: 100%;

			i{
				display: block;
				position: absolute;
				top:0;
				left: 0;
				@include pxToRem(right, 38);
				background: currentColor;
				height: 100%;

				.svg{
					@include pxToRem(width, 38);
					@include pxToRem(height, 22);
					position: absolute;
					@include pxToRem(right, -38);
					@include pxToRem(top, -9);
				}
			}
		}

		&-finish{
			@include pxToRem(width, 24);
			@include pxToRem(height, 24);
			position: absolute;
			@include pxToRem(top, -10);
			@include pxToRem(right, -24);
			@include transition(all $animateTime);
		}
	}
	&-count{
		max-width: 0;
		opacity: 0;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		margin-left: 0;
		@include pxToRem(font-size, 14);
		line-height: 1;
		@include transition(all $animateTime);
	}
}








.game__planet{
	height: 100%;
	font-size: 0;
	text-align: center;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&-inner{
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(width, 780);
		@include pxToRem(height, 780);
		@include box-sizing();
		position: relative;
		@include pxToRem(margin-top, 60);

		&:after{
			content: '';

			border-color: transparent;
			border-style: solid;
			border-radius: 50%;
			display: block;
			position: absolute;
			@include pxToRem(border-width, 5);
			@include box-sizing();
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	&-name{
		position: absolute;
		color: #fff;
		text-align: center;
		width: 100%;
		left: 0;
		@include pxToRem(top, -70);
		z-index: 1;

		.pref{
			@include pxToRem(font-size, 26);
			display: inline-block;
		}
		.value{
			@include pxToRem(font-size, 28);
			display: inline-block;
			@include pxToRem(margin, 5);
			font-weight: 700;
		}
		.edit{
			color: $colorText;
			display: inline-block;
			@include pxToRem(margin-left, 10);

			@include pxToRem(font-size, 14);
			position: absolute;
			@include pxToRem(bottom, 10);

			&:hover{
				color: #fff;
			}
		}
	}


	&-timer{
		position: absolute;
		@include pxToRem(top, -14);
		text-align: center;
		width: 100%;
		left: 0;
		z-index: 1;

		&-inner{
			display: inline-block;
			white-space: nowrap;
			@include pxToRem(border-radius, 5);
			@include pxToRem(padding, 0, 12);
			@include pxToRem(line-height, 32);
			@include pxToRem(height, 32);
			color: #fff;
			background: $colorText;
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(width, 20);
			@include pxToRem(height, 20);
			@include pxToRem(margin-right, 5);
		}

		.value{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(font-size, 22);
		}
	}



	&-keep{

		position: relative;
		z-index: 1;

		.keep{
			&__item{

				@include pxToRem(margin-top, 15);
				@include pxToRem(margin-bottom, 15);
			}
		}
	}

	&-back{
		position: absolute;
		@include pxToRem(font-size, 16);
		color: $colorText;
		text-align: center;
		left: 0;
		width: 100%;
		@include pxToRem(bottom, 20);
		z-index: 1;

		a{
			display: inline-block;

			&:hover{
				color: #fff;
			}
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(height, 15);
			@include pxToRem(width, 13);
			@include pxToRem(margin-left, 10);
		}
	}


	&.is-attacked{
		.game__planet-inner{

			&:after{
				border-color: $colorRed;
			}
		}
		.game__planet-timer-inner{
			background: $colorRed;
		}
	}
}





.ik{
	width: 100%;
	height: 100%;
	display: block;
	background: no-repeat 0 0;
	background-size: 100% auto;
	
	&_fleet{
		background-image: url("/img/keep/sprite-fleet.svg");
	}
	&_defense{
		background-image: url("/img/keep/sprite-defense.svg");
	}
	&_resources{
		background-image: url("/img/keep/sprite-resources.svg");
	}
	&_factories{
		background-image: url("/img/keep/sprite-factories.svg");
	}
	&_technology{
		background-image: url("/img/keep/sprite-technology.svg");
	}


	&_locked{
		background-position: 0 0;
	}

	&_ready{
		background-position: 0 50%;

		&:hover{
			background-position: 0 100%;
		}
	}
}


.keep{

	@include pxToRem(width, 745);
	//@include pxToRem(height, 435);
	//border: solid $colorText;
	@include pxToRem(border-width, 1);
	@include pxToRem(padding, 60, 0, 40);
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 29%/100%;
	//border-top: 0;
	background: rgba(0,0,0,0.5);

	&__title{
		text-align: center;
		color: #fff;
		@include pxToRem(font-size, 18);
		position: absolute;
		@include pxToRem(top, 15);
		left: 0;
		width: 100%;
		text-transform: uppercase;
	}

	&__contens{
		white-space: nowrap;
		font-size: 0;
		text-align: center;
	}

	&__column{
		@include pxToRem(width, 100);
		display: inline-block;
		vertical-align: top;
		white-space: normal;

		&_middle{
			@include pxToRem(margin, 0, 60);
		}

		&-title{
			@include pxToRem(font-size, 18);
			color: #fff;
		}
	}

	&__item{
		@include pxToRem(width, 90);
		@include pxToRem(height, 90);
		//background: rgba(24,35,125,.5);
		margin: 0 auto;
		position: relative;
		@include pxToRem(font-size, 14);


		&-timer{
			text-align: center;
			position: absolute;
			@include pxToRem(bottom, -7);
			left: 0;
			width: 100%;
			@include pxToRem(font-size, 12);

			span{
				background: currentColor;
				@include pxToRem(height, 22);
				@include pxToRem(line-height, 22);
				@include pxToRem(border-radius, 4);
				display: inline-block;
				@include pxToRem(padding, 0, 8);
			}

			i{
				font: inherit;
				color: #000;
			}
		}


		&-preview{
			width: 100%;
			height: 100%;
			position: relative;

			&-ico,
			&-frame,
			&-inframe,
			&-progress{
				position: absolute;
				bottom:0;
				left: 0;
				width: 100%;
				height: 100%;

				i{
					position: absolute;
					bottom:0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				img{

					width: 100%;
					height: 100%;
					display: block;
				}

				svg{
					width: 100%;
					height: 100%;
					display: block;
					@include box-sizing();

					polygon,path{
						fill-opacity: 0;
						fill: currentColor;
						stroke: currentColor;
						stroke-width: 2px;
					}

					.keep-path-inshape{
						stroke-opacity: 0;
					}
				}
			}

			&-ico{
				svg{
					polygon,path{
						fill-opacity: 1;
						stroke-width: 0;
					}
				}
			}

			&-progress{
				opacity: 0.3;
				overflow: hidden;
				@include transition(height $animateTime);

				i{
					height: auto;
				}

				svg{
					.keep-path-shape{
						fill-opacity: 0.8;
					}
				}

			}
		}

		&_ready{

			.keep__item-preview-ico{
				svg{
					polygon,
					path{
						stroke-width: 0;
						fill: #fff;
					}
				}
			}
			.keep__item-preview-frame{
				svg{
					.keep-path-shape{
						stroke: #fff;
						stroke-width: 1px;
						stroke-dasharray:1,2;
					}
					.keep-path-inshape{
						stroke: #fff;
						fill: #fff;
						stroke-width: 0.5px;
						stroke-opacity: 1;
						fill-opacity: 0.2;
					}
				}
			}

			&:hover{

				svg{
					.keep-path-inshape{
						fill-opacity: 0.4;
					}

					.keep-path-shape{
						stroke-dasharray: 2;
						animation: dash 50s linear infinite;
					}
				}
			}
		}

		&_locked{
			.keep__item-preview-ico{
				svg{
					polygon,path{
						stroke-width: 0;
						fill: #fff;
					}
				}
			}
			.keep__item-preview-frame{
				svg{
					.keep-path-shape{
						stroke: #fff;
						stroke-width: 1px;
						stroke-dasharray:1,2;
					}
				}
			}
		}

		&-info{
			position: absolute;
			@include pxToRem(border-width, 2);
			@include pxToRem(border-radius, 10);
			border-style: solid;
			background: $colorDark;
			border-color: #292b31;
			@include pxToRem(top, -45);
			@include pxToRem(left, -15);
			@include pxToRem(right, -15);
			color: $colorText;
			display: none;

			&-header{
				@include pxToRem(padding, 10);
				@include pxToRem(height, 28);
				@include pxToRem(margin-bottom, 100);
				white-space: nowrap;

				.btn{
					@include pxToRem(margin, 0, 3);
					border-color: #484d57;

					&:hover{
						//color: #fff;
						//border-color: #fff;
						background: rgba(#fff, 0.1);
					}
				}
			}

			&-text{
				@include pxToRem(padding, 10);
				@include pxToRem(margin-bottom, 10);
			}

			&-close{
				border: 0 solid #292b31;
				@include pxToRem(border-top-width, 2);
				@include pxToRem(font-size, 17);
				cursor: pointer;
				@include pxToRem(padding, 7, 0, 10);

				&:hover{
					color: #fff;
				}

				.ico{
					@include pxToRem(width, 20);
					@include pxToRem(height, 20);
					display: inline-block;
					vertical-align: middle;
				}

				.value{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(margin, 0, 5);
				}
			}


			& ~ .keep__item-preview{
				cursor: pointer;
			}
		}

		&-text{
			font-size: 0;
			@include pxToRem(margin, 15, 0, 10);
			@include pxToRem(height, 48);

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span{
				@include pxToRem(font-size, 14);
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-lvl{

			@include pxToRem(font-size, 14);

			span{
				@include pxToRem(border-width, 1);
				@include pxToRem(border-radius, 4);
				color: $colorText;
				border-style: solid;
				border-color: $colorText;
				text-align: center;
				@include pxToRem(height, 20);
				@include pxToRem(line-height, 20);
				display: inline-block;
				@include pxToRem(padding, 0, 5);
			}
		}

		&:hover,
		&.is-open{
			.keep__item-info{
				display: block;
				z-index: 1;
			}
			.keep__item-timer,
			.keep__item-preview{
				z-index: 1;
			}
		}
	}

	&__footer{
		position: absolute;
		@include pxToRem(bottom, -70);
		text-align: center;
		width: 100%;
		left: 0;

		.btn{
			color: #fff;
			background: #21232b;
			@include pxToRem(height, 48);
			border: 0;
			@include pxToRem(padding, 0, 20);
			@include pxToRem(margin, 0, 6);
			@include pxToRem(border-radius, 10);

			&:hover{
				background: $colorDark;
			}

			i{
				@include pxToRem(height, 28);
				@include pxToRem(margin-right, 8);

				svg{
					display: block;
				}
			}

			i, span{
				@include pxToRem(line-height, 48);
				vertical-align: middle;
				@include pxToRem(font-size, 22);
			}
		}
	}

}


@keyframes dash {
	to {
		stroke-dashoffset: -1000;
	}
}

.game__menu{
	position: absolute;
	@include pxToRem(top, 15);
	@include pxToRem(left, 40);
	z-index: 1;

	&-list{
		@include pxToRem(width, 108);
	}

	&-item{
		@include pxToRem(min-height, 80);
		max-height: 50vh;
		@include pxToRem(width, 380);
		@include pxToRem(padding, 5, 10);
		background: rgba(0,0,0,0.5);
		@include pxToRem(border-radius, 10);
		@include pxToRem(margin, 0, 8, 12, 0);
		float: left;
		position: relative;
		overflow: hidden;
		@include transition(all $animateTime);
		border: solid $colorDD;
		@include pxToRem(border-width, 2);


		&_m{
			@include pxToRem(min-height, 22);
			@include pxToRem(width, 22);
			@include pxToRem(padding, 10);

			overflow: visible;

			.game__menu-ico{
				@include pxToRem(width, 22);
				@include pxToRem(height, 22);
			}
		}

		&_t{
			@include pxToRem(min-height, 0);
			@include pxToRem(padding, 10);
			@include pxToRem(width, 76);
			.game__menu-ico{
				height: auto;
			}
		}

		&_m,
		&_t,
		&.is-compact{
			cursor: pointer;

			.game__menu-ico{
				color: $colorText;
			}

			&:hover{
				.game__menu-ico{
					color: #fff;
				}

				&:after{
					content: attr(title);
					position: absolute;
					left: 100%;
					top: 50%;
					@include transform(translateY(-50%));
					color: #fff;
					@include pxToRem(font-size, 14);
					white-space: nowrap;
				}
			}
		}

		&.is-compact{
			@include pxToRem(width, 80);
			@include pxToRem(max-height, 80);

			.game__menu-close{
				opacity: 0;
			}
			.game__menu-find{
				opacity: 0;
			}
		}
	}

	&-ico{
		@include pxToRem(width, 80);
		@include pxToRem(height, 80);
		//@include pxToRem(padding, 5, 0);
		color: $colorYellow;
		text-align: center;
		float: left;
	}

	&-close{
		@include pxToRem(width, 20);
		@include pxToRem(height, 20);
		cursor: pointer;
		position: absolute;
		@include pxToRem(top, 10);
		@include pxToRem(right, 10);
		@include transition(all $animateTime);

		color: $colorDD;

		&:hover{
			color: #fff;
		}
	}

	&-find{
		@include pxToRem(width, 20);
		@include pxToRem(height, 20);
		cursor: pointer;
		position: absolute;
		@include pxToRem(bottom, 10);
		@include pxToRem(right, 10);
		@include transition(all $animateTime);
		color: $colorDD;


		&:hover{
			color: #fff;
		}
	}

	&-info{
		color: $colorText;
		@include pxToRem(margin, 8, 30, 8, 95);
		@include pxToRem(width, 255);
		@include pxToRem(font-size, 14);

		&-header{
			@include pxToRem(margin-bottom, 3);
		}
		&-title{
			color: #fff;
			@include pxToRem(margin-bottom, 3);
		}
		&-text{
			@include pxToRem(margin-bottom, 10);
		}
		&-place{

			.ico{
				display: inline-block;
				@include pxToRem(width, 18);
				@include pxToRem(height, 18);
				vertical-align: middle;
				@include pxToRem(margin-right, 5);
			}

			.value{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}


	&_bl{
		top: auto;
		@include pxToRem(bottom, 15);

		.game__menu-list{
			width: auto;
		}
	}
}







.game__satellite{

	position: absolute;
	@include pxToRem(right, 40);
	@include pxToRem(bottom, 100);
	z-index: 1;

	&-list{
		@include pxToRem(width, 470);
		text-align: right;
	}

	&-item{
		@include pxToRem(width, 84);
		@include pxToRem(height, 84);
		border: solid #171717;
		@include pxToRem(border-width, 2);
		position: relative;
		display: inline-block;
		border-radius: 50%;
		@include pxToRem(margin, 10);
		background: rgba(0,0,0,0.5);
		@include box-shadow(0 0 0 2px #222);

		&.is-attacked{

			&:before{
				content: '';
				@include pxToRem(width, 98);
				@include pxToRem(height, 98);
				border: solid $colorRed;
				@include pxToRem(border-width, 1);
				display: block;
				position: absolute;
				@include pxToRem(top, -8);
				@include pxToRem(left, -8);
				border-radius: 50%;
			}
			
			&:after{
				content: '';
				@include pxToRem(width, 26);
				@include pxToRem(height, 26);
				position: absolute;
				@include pxToRem(top, -7);
				@include pxToRem(right, -7);
				border-radius: 50%;
				background: $colorRed url("/img/ico/ico-sword.svg") no-repeat;
				@include pxToRem(background-position, 6, 6);
				@include pxToRem(background-size, 16, 16);
			}


		}

		&:hover{

			@include box-shadow(0 0 0 2px #333);

			.game__satellite-info{
				@include pxToRem(width, 300);
				opacity: 1;
			}

			.game__satellite-callout{
				@include pxToRem(width, 55);
				@include pxToRem(height, 55);
			}
		}
	}

	&-callout{
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
		@include pxToRem(right, 50);
		@include pxToRem(bottom, 50);
		@include transition(all $animateTime);
		
		&:before{
			content: '';
			@include pxToRem(width, 55);
			@include pxToRem(height, 55);
			background: url("/img/ico/callout.svg") no-repeat 0 0;
			background-size: contain;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&-info{
		width: 0;
		@include pxToRem(bottom, 110);
		@include pxToRem(right, 90);
		position: absolute;
		overflow: hidden;
		opacity: 0;
		@include transition(all $animateTime);
	}

	&-title{
		@include pxToRem(font-size, 22);
		color: #fff;
		font-weight: 700;
		@include pxToRem(margin-bottom, 5);
		@include pxToRem(width, 280);
	}

	&-text{
		@include pxToRem(font-size, 15);
		color: $colorText;
		line-height: 1.35;
		@include pxToRem(width, 280);
	}
}




[data-tab-targ]{
	display: none;

	&.is-active{
		display: block;
	}
}