
.overflow_hidden {
	overflow: hidden;
}

.tjs-planet{
	position: absolute;
	@include pxToRem(top, 0);
	@include pxToRem(left, 0);
	@include pxToRem(bottom, 0);
	@include pxToRem(right, 0);
	//background: rgba(#f00, 0.3);
	@include user-select();
	opacity: 0;

	@include transition(opacity 0.3s ease);
}

.tooltip{
	position: absolute;
	display: none;
	@include pxToRem(margin-top, -33);
	@include pxToRem(margin-left, 20);
	z-index: 120;
	color: #fff;
	@include pxToRem(width, 250);

	&__inner{
		background: #0b0b0b;
		@include pxToRem(border-radius, 6);
		@include box-shadow(0 0 10px rgba(0,0,0,0.5));
		@include pxToRem(padding, 15, 10, 15, 20);

		&:before{
			content: '';
			position: absolute;
			display: block;
			border: solid transparent;
			@include pxToRem(border-width, 12);

			border-right-color: #0b0b0b;
			@include pxToRem(top, 12);
			@include pxToRem(left, -22);
		}
	}

	&__title{
		@include pxToRem(font-size, 17);
		@include pxToRem(margin-bottom, 10);
	}

	&__text{
		@include pxToRem(font-size, 12);
		@include pxToRem(max-height, 140);

		&-inner{

			@include pxToRem(padding-right, 15);
		}
	}

	&.is-open{
		display: block;
	}

}




.popup{
	display: none;
	color: #343434;

	.mCSB_container{

	}

	.mCSB_vertical{
		.mCSB{
			&_scrollTools{

				@include pxToRem(right, 25);

				.mCSB_dragger_bar{
					@include pxToRem(width, 10);
					background: rgba($colorText, 0.20);
				}
			}
			&_draggerContainer{
				@include pxToRem(top, 20);
				@include pxToRem(bottom, 20);
			}

		}
	}

	.mCSB_horizontal{
		.mCSB{
			&_scrollTools{

				@include pxToRem(bottom, 25);


				.mCSB_dragger_bar{
					@include pxToRem(height, 10);
					background: rgba($colorText, 0.20);
				}
			}
			&_draggerContainer{
				@include pxToRem(left, 20);
				@include pxToRem(right, 20);
			}

		}
	}

	&__inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout{
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		@include pxToRem(width, 1180);
		z-index: 102;
		text-align: left;
	}


	&__overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}


	&__close{
		@include pxToRem(width, 28);
		@include pxToRem(height, 28);
		position: absolute;
		cursor: pointer;
		@include pxToRem(top, 25);
		@include pxToRem(right, 25);
		background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
		background-size: contain;
		opacity: 0.3;

		&:hover{
			opacity: 1;
		}
	}

	&__title{
		background: #1b1b1f;
		@include pxToRem(height, 78);
		@include pxToRem(line-height, 78);
		@include pxToRem(font-size, 22);
		font-weight: 500;
		text-align: center;
		@include pxToRem(padding, 0, 80);
		color: #fff;
		@include pxToRem(border-radius, 20, 20, 0, 0);
	}

	&__head{
		@include pxToRem(min-height, 50);
		background: #34373e;
		border-bottom: solid #434652;
		@include pxToRem(border-bottom-width, 1);
		@include box-sizing();
		position: relative;
		z-index: 1;

		@include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.35));

		&-item{
			cursor: pointer;
		}
		
		&-tabl{
			display: table;
			width: 100%;
		}

		&-col{
			display: table-cell;
		}
	}

	&__content{
		@include pxToRem(min-height, 550);
		@include pxToRem(border-radius, 0, 0, 20, 20);
		background: #2f3138;
		//@include box-shadow(inset 0px 29px 20px -20px rgba(0, 0, 0, 0.35));

		@include clearfix();
		position: relative;
		color: $colorText;



		&-aside{
			@include pxToRem(width, 650);
			float: left;
			height: 100%;
			background: #34373e;
			@include box-sizing();

			//@include box-shadow(inset 0px 29px 20px -20px rgba(0, 0, 0, 0.35));
			@include pxToRem(border-radius, 0, 0, 0, 20);

			& ~ .popup__content-inner{
				@include pxToRem(margin-left, 650);
				height: 100%;
				@include box-sizing();
			}
		}


	}

	.counter{

		font-size: 0;
		overflow: hidden;

		&__value{
			@include pxToRem(height, 30);
			float: left;
			@include pxToRem(font-size, 17);
			@include pxToRem(line-height, 30);
			text-align: center;
			color: #fff;
			@include pxToRem(width, 70);
			background: #585c64;
			cursor: default;
			@include pxToRem(margin, 0, 2);
		}
		&__down{
			@include pxToRem(height, 30);
			float: left;
			@include pxToRem(width, 23);
			background: #40434c;
			position: relative;
			cursor: pointer;
			@include pxToRem(border-radius, 3, 0, 0, 3);

			&:before{
				content: '';
				@include pxToRem(width, 13);
				@include pxToRem(height, 3);
				position: absolute;
				top: 50%;
				left: 50%;
				@include pxToRem(margin-left, -6);
				@include pxToRem(margin-top, -1);
				background: #757782;
				@include pxToRem(border-radius, 10);
			}

			&:hover{
				&:before{
					background: #fff;
				}
			}
		}
		&__up{
			@include pxToRem(height, 30);
			@include pxToRem(width, 23);
			background: #40434c;
			float: left;
			position: relative;
			cursor: pointer;
			@include pxToRem(border-radius, 0, 3, 3, 0);

			&:before,
			&:after{
				content: '';
				@include pxToRem(width, 13);
				@include pxToRem(height, 3);
				position: absolute;
				top:50%;
				left: 50%;
				@include pxToRem(margin-left, -6);
				@include pxToRem(margin-top, -1);
				background: #757782;
				@include pxToRem(border-radius, 10);
			}

			&:after{
				@include transform(rotate(90deg));
			}

			&:hover{
				&:after,
				&:before{
					background: #fff;
				}
			}
		}
	}


	&__pp{
		position: absolute;
		top:0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0,0,0,0.5);
		@include pxToRem(border-radius, 0, 0, 20, 20);
		z-index: 5;
		font-size: 0;
		text-align: center;
		display: none;

		&.is-open{
			display: block;
		}

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}


		&-layout{
			display: inline-block;
			position: relative;
			vertical-align: middle;
			@include pxToRem(width, 785);
			@include pxToRem(border-radius, 10);
			text-align: left;
			background: #34373e;
			@include pxToRem(min-height, 310);
			@include pxToRem(margin-bottom, 60);
			@include pxToRem(font-size, 15);

		}

		&-close{
			@include pxToRem(width, 28);
			@include pxToRem(height, 28);
			position: absolute;
			cursor: pointer;
			@include pxToRem(top, 20);
			@include pxToRem(right, 20);
			background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
			background-size: contain;
			opacity: 0.3;
			z-index: 1;

			&:hover{
				opacity: 1;
			}
		}

		&-preview{
			@include pxToRem(width, 345);
			position: absolute;
			top:0;
			left: 0;
			bottom: 0;
			background: #4d525f;
			@include pxToRem(border-radius, 10, 0, 0, 10);
		}

		&-control{
			position: absolute;
			@include pxToRem(bottom, 20);
			@include pxToRem(left, 20);
			@include pxToRem(right, 20);

			.btn{
				&:nth-of-type(2n){
					float: right;
				}

				&.is-disabled{
					border-color: #535662!important;
					color: #535662!important;
					cursor: default!important;
					position: relative;
					@include pxToRem(padding-left, 40);
					background: none;

					&:before{
						content: '';
						display: block;
						position: absolute;
						@include pxToRem(width, 16);
						@include pxToRem(height, 16);
						background: url("/img/ico/ico-lock.svg") no-repeat 50% 50%;
						background-size: contain;
						@include pxToRem(top, 16);
						@include pxToRem(left, 16);
					}
				}
			}
		}

		&-content{
			@include pxToRem(margin-left, 345);
			@include pxToRem(padding, 20, 25);
			@include box-sizing();
			position: relative;
			@include pxToRem(min-height, 310);


			&__title{
				@include pxToRem(font-size, 21);
				color: #fff;
				@include pxToRem(margin-bottom, 20);
				@include pxToRem(margin-right, 40);
			}

			&__text{
				@include pxToRem(margin, 15, 0);
				color: $colorText;
			}



		}

		.btn{

			&_big{
				@include pxToRem(height, 48);
				@include pxToRem(padding, 0, 24);
				@include pxToRem(border-radius, 10);
				color: $colorText;
				@include pxToRem(font-size, 21);
				font-weight: 700;
				@include pxToRem(line-height, 48);
				border: solid transparent;
				@include pxToRem(border-width, 2);
				cursor: pointer;

				&:hover{
					color: #fff;
				}
			}

			&_dark{
				background: #2a2d34;
			}

			&_red{
				background: $colorRed;
				color: #fff;
			}

			&_border{
				border-color: $colorText;
			}
		}
	}
}



.popup_planet{

	.popup{

		&__head{
			@include pxToRem(padding, 28, 50);
			font-size: 0;

			&-title{
				@include pxToRem(font-size, 22);
				color: #fff;
				font-weight: 500;
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(width, 315);
			}

			&-item{
				color: #9BA1B2;
				@include pxToRem(font-size, 17);
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(width, 100);
				text-align: center;

				&_c{
					@include pxToRem(padding, 0, 55);
				}
			}
		}


		&__content{
			@include pxToRem(height, 550);
		}
	}

	.planet{


		&__list{
			@include pxToRem(padding, 20, 65, 100, 25);
		}

		&__item{

			img{
				display: block;
				width: 100%;
				height: 100%;
			}

			@include pxToRem(border-radius, 10);
			border: solid rgba($colorDark, 0.3);
			@include pxToRem(border-width, 1);
			@include pxToRem(padding, 20);
			font-size: 0;
			@include pxToRem(margin, 10, 0);
			position: relative;

			&:hover{
				background: rgba($colorText, 0.15);

				.planet__item-next{
					background: rgba($colorText, 0.15);
				}
			}

			&.is-open{
				.planet__item-all{
					display: block;
				}
				.planet__item-name-title{
					.arrow{
						@include transform(scale(-1));
					}
				}
			}

			&-next{
				@include pxToRem(width, 65);
				top: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				@include pxToRem(border-radius, 0, 10, 10, 0);
				cursor: pointer;

				&:hover{
					background: rgba($colorText, 0.3)!important;

					&:before{
						opacity: 0.5;
					}
				}

				&:before{
					content: '';
					@include pxToRem(width, 38);
					@include pxToRem(height, 38);
					background: url("/img/popup-planet-arrow-next.svg") no-repeat 50% 50%;
					background-size: contain;
					position: absolute;
					top:50%;
					left: 50%;
					@include pxToRem(margin-left, -19);
					@include pxToRem(margin-top, -19);
					opacity: 0.3;
				}
			}

			&-name{
				@include pxToRem(width, 315);
				@include pxToRem(min-height, 10);
				display: inline-block;
				overflow: hidden;

				&-view{
					@include pxToRem(width, 76);
					@include pxToRem(height, 76);
					border: solid #2a2c33;
					@include pxToRem(border-width, 1);
					border-radius: 50%;
					@include box-shadow(0 0 0 1px #373a42);
					@include pxToRem(margin, 1);
					background: #23252a;
					float: left;

					img{
						max-height: 100%;
						max-width: 100%;
						display: block;
					}
				}

				&-title{
					@include pxToRem(margin-left, 92);
					@include pxToRem(font-size, 19);
					color: #fff;
					@include pxToRem(margin-bottom, 3);
					cursor: pointer;
					position: relative;
					@include pxToRem(padding-right, 35);

					.arrow{
						display: inline-block;
						position: absolute;
						@include pxToRem(margin-top, 5);
						//top: 0;
						//right: 0;
						@include pxToRem(width, 26);
						@include pxToRem(height, 17);
						background: url("/img/popup-planet-arrow-bottom.svg") no-repeat 50% 50%;
						background-size: contain;
						vertical-align: middle;
						@include pxToRem(margin-left, 10);
					}
				}

				&-info{
					@include pxToRem(margin-left, 92);
					@include pxToRem(font-size, 17);
					color: #8990AD;
					@include pxToRem(margin-bottom, 10);
				}

				&-icons{
					@include pxToRem(margin-left, 92);

					.ico{
						display: inline-block;
						vertical-align: top;
						@include pxToRem(margin, 0, 5, 5, 0);
						@include pxToRem(width, 18);
						@include pxToRem(height, 18);
						border-radius: 50%;
						background: #23252a;
					}
				}
			}

			&-keep{
				display: inline-block;
				text-align: center;
				@include pxToRem(width, 100);

				&_c{
					@include pxToRem(padding, 0, 55);
				}
			}

			&-row{

			}

			&-all{

				display: none;

				.planet__item-row{
					@include pxToRem(margin, 20, 0, 10);
				}
			}
		}
	}
}


.popup_building{
	.popup{
		&__head{

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				.ico{
					@include pxToRem(width, 24);
					//@include pxToRem(height, 24);
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
					@include pxToRem(margin-right, 5);
				}

				span{
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover{
					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}

				&.is-active{
					background: $colorRed;

					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}
			}
		}


		&__content{
			@include pxToRem(height, 550);
			background: #2a2c32;

			&-image{
				@include pxToRem(height, 230);
			}

			.tabs{
				color: #5B5F6B;
				font-size: 0;

				&__item{
					display: inline-block;
					vertical-align: bottom;
					@include pxToRem(height, 40);
					@include pxToRem(line-height, 40);
					@include pxToRem(font-size, 17);
					@include pxToRem(padding, 0, 20, 0, 28);
					@include pxToRem(border-radius, 10, 15, 0, 0);
					position: relative;
					font-weight: 500;
					cursor: pointer;
					@include user-select();

					&:hover{
						text-shadow: 0 0 10px rgba(#fff, 0.5);
						color: #fff;
					}

					&.is-active{
						cursor: default;
						background: #34373e;
						color: #fff;
						text-shadow: 0 0 10px rgba(#fff, 0.5);

						&:after{
							content: '';
							display: block;
							position: absolute;
							border: solid transparent;
							@include pxToRem(border-width, 18);
							@include pxToRem(border-bottom-width, 32);
							border-bottom-color: #34373e;
							bottom: 0;
							@include pxToRem(right, -16);
						}
					}
				}

				&__content{
					background: #34373e;
					@include pxToRem(height, 280);
					@include pxToRem(border-radius, 0, 0, 20, 20);
					@include box-shadow(0px -29px 20px -20px rgba(0, 0, 0, 0.35));
					overflow: hidden;



					.build{
						&__list{
							@include pxToRem(padding, 0, 16, 60);
							overflow: hidden;
							margin-top: 0;

							.keep__item-text {
								span{
									max-width: 100%;
									word-break: break-word;
									overflow: hidden;
									@include pxToRem(max-height, 50);
								}
							}
						}

						&__item{
							@include pxToRem(width, 116);
							@include pxToRem(height, 200);
							background: #3a3d45;
							border: solid #2a2c33;
							@include pxToRem(border-width, 2);
							@include box-shadow(inset 0 0 0 0.125rem #484c57);
							@include pxToRem(border-radius, 8);
							float: left;
							@include pxToRem(margin, 10, 6);
							text-align: center;
							@include pxToRem(padding-top, 15);

							.keep{
								&__item{
									z-index: 5;

									&-text{
										color: #8890ac;
									}

									&-info{
										@include pxToRem(top, -18);

										&-close{
											@include pxToRem(font-size, 15);
											@include pxToRem(padding, 2, 0, 6);

											.ico{
												@include pxToRem(width, 15);
												@include pxToRem(height, 15);
											}
										}

										&-text{
											@include pxToRem(margin-top, 110);
											border: 0 solid #292b31;
											@include pxToRem(border-bottom-width, 2);
											@include pxToRem(padding-bottom, 7);
											@include pxToRem(margin-bottom, 5);
											@include pxToRem(max-height, 48);
										}

										&-header{
											padding-top: 0;
											margin-bottom: 0;
											height: auto;
											@include pxToRem(padding-bottom, 7);
											p{
												@include pxToRem(margin-bottom, 5);
											}
										}
									}
								}
							}

							&:hover{
								background: #40434c;
								color: #fff;

								.keep__item-text{
									color: #fff;
								}
							}

							&:active,
							&.is-active{
								background: #2a2c32;
								color: #fff;
								border-color: #484c57;
								@include box-shadow(inset 0 0 0 0.125rem #2a2c33);

								.keep__item-text{
									color: #fff;
								}
							}

							&.is-locked{
								background: #34373e!important;
								color: #525561!important;
								border-color: #2a2c33!important;
								@include box-shadow(inset 0 0 0 0.125rem #484c57!important);

								.keep__item-text{
									color: #525561!important;
								}
							}
						}
					}


				}
			}
		}
	}

}

.popup_attackdefense{
	.popup{
		&__head{

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				.ico{
					@include pxToRem(width, 24);
					//@include pxToRem(height, 24);
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
					@include pxToRem(margin-right, 5);
				}

				span{
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover{
					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}

				&.is-active{
					background: $colorRed;

					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}
			}
		}


		&__content{
			@include pxToRem(height, 550);
			background: #2a2c32;

		}
	}


	.force{


		&__list{
			@include pxToRem(padding, 20, 65, 20, 25);
		}

		&__item{

			@include pxToRem(border-radius, 10);
			border: solid rgba($colorDark, 0.3);
			@include pxToRem(border-width, 1);
			@include pxToRem(padding, 10, 20);
			font-size: 0;
			@include pxToRem(margin, 10, 0);
			position: relative;

			&:hover{
				background: rgba($colorText, 0.15);

				.planet__item-next{
					background: rgba($colorText, 0.15);
				}
			}

			&.is-open{
				.planet__item-all{
					display: block;
				}
				.planet__item-name-title{
					.arrow{
						@include transform(scale(-1));
					}
				}
			}

			&-next{
				@include pxToRem(width, 65);
				top: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				@include pxToRem(border-radius, 0, 10, 10, 0);
				cursor: pointer;

				&:hover{
					background: rgba($colorText, 0.3)!important;

					&:before{
						opacity: 0.5;
					}
				}

				&:before{
					content: '';
					@include pxToRem(width, 28);
					@include pxToRem(height, 28);
					background: url("/img/popup-planet-arrow-next.svg") no-repeat 50% 50%;
					background-size: contain;
					position: absolute;
					top:50%;
					left: 50%;
					@include pxToRem(margin-left, -14);
					@include pxToRem(margin-top, -14);
					opacity: 0.3;
				}
			}

			&-name{
				@include pxToRem(width, 300);
				@include pxToRem(min-height, 10);
				display: inline-block;
				overflow: hidden;
				vertical-align: middle;
				@include pxToRem(padding, 15, 0);


				&-title{
					@include pxToRem(font-size, 14);
					color: #8990ad;
					@include pxToRem(margin-bottom, 3);
					cursor: pointer;
					position: relative;
					@include pxToRem(padding-right, 35);

					&:hover{
						color: #fff;
					}
				}
			}

			&-path{
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				@include pxToRem(width, 100);

				&_c{
					@include pxToRem(padding, 0, 55);
				}
			}

			&-row{

			}

			&-all{

				display: none;

				.planet__item-row{
					@include pxToRem(margin, 20, 0, 10);
				}
			}
		}



		.game{
			&__force{
				&-path{
					@include pxToRem(width, 560);
				}
			}
		}
	}
}


.popup_orbit{

	.popup {

		&__content{
			@include pxToRem(height, 550);
			background: #26272f;
			overflow: hidden;
			@include box-shadow(none);
			-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		}

		&__head {

			color: $colorText;
			text-align: center;
			@include pxToRem(padding, 15);
			@include pxToRem(min-height, 48);

			&-name{
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(font-size, 17);
			}
			&-counter{
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(margin, 0,35,0,10);

				&-arrow{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(width, 30);
					@include pxToRem(height, 30);
					border: solid #191b23;
					@include pxToRem(border-width, 2);
					border-radius: 50%;
					background: no-repeat 50% 50%;
					background-size: auto 75%;
					opacity: 0.5;
					cursor: pointer;

					&:hover{
						opacity: 1;
					}

					&_prev{
						background-image: url("/img/ico/simp-ico-arrow_l.svg");
					}

					&_next{
						background-image: url("/img/ico/simp-ico-arrow_r.svg");
					}
				}
				&-field{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(margin, 0, 10);

					.counter{
						&__down,
						&__up{
							background: #1b1b20;
						}

						&__value{
							background: #2c2c32;
						}
					}
				}
			}

			&-btn{
				display: inline-block;
				vertical-align: middle;

				.btn{
					background: #2b2e35;
					color: rgba(#fff, 0.5);

					&:hover{
						color: #fff;
					}
				}
			}
		}


	}


	.system{
		position: relative;
		height: 100%;
		overflow: hidden;

		&__menu{
			position: absolute;
			@include pxToRem(top, 24);
			@include pxToRem(left, 20);
			@include pxToRem(right, 20);
			text-align: center;
			z-index: 1;

			&-item{

				@include pxToRem(font-size, 21);
				font-weight: 600;
				color: #fff;
				display: inline-block;


				&:hover{
					&:before,
					&:after{
						opacity: 1;
					}
				}

				&_prev{
					float: left;

					&:before{
						content: '';
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(width, 20);
						@include pxToRem(height, 20);
						background: url("/img/ico/simp-ico-arrow_l.svg") no-repeat 50% 50%;
						background-size: contain;
						opacity: 0.3;
						@include pxToRem(margin-right, 15);
					}

				}

				&_current{}

				&_next{
					float: right;

					&:after{
						content: '';
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(width, 20);
						@include pxToRem(height, 20);
						background: url("/img/ico/simp-ico-arrow_r.svg") no-repeat 50% 50%;
						background-size: contain;
						opacity: 0.3;
						@include pxToRem(margin-left, 15);
					}
				}
			}
		}




		&__orbit{

			height: 100%;
			white-space: nowrap;
			font-size: 0;

			.mCSB_container{
				height: 100%;
			}

			.mCSB_scrollTools{
				z-index: 0;
			}

			&-inner{
				@include pxToRem(margin-right, 30);
				height: 100%;
			}


			&-list{
				display: inline-block;
				height: 100%;
				position: relative;

				&:last-child{
					@include pxToRem(margin-right, 100);
				}

				&_burn{
					//background: rgba(#fff, 0.15);
				}

				&_warm{
					//background: rgba(#fff, 0.1);
				}

				&_norm{
					//background: rgba(#fff, 0.05);
				}

				&_cold{
				}
			}

			&-sphere{
				height: 100%;
				position: absolute;
				left: 0;
				min-width: 100%;
				top: 0;


				.sphere{

					&__item{
						border: dashed rgba(#fff, .2);
						@include pxToRem(border-width, 1);
						border-radius: 50%;
						position: absolute;
						top: 50%;
						left: 0;
						@include transform(translate(-50%, -50%));
						@include pxToRem(height, 100);
						@include pxToRem(width, 100);

						&_burn{
							background-color: #3b3e47;
						}
						&_warm{
							background-color: #303139;
						}
						&_norm{
							background-color: #292a32;
						}

						@include solarSphere(50);
					}
				}
			}

			&-status{
				position: absolute;
				color: $colorText;
				@include pxToRem(font-size, 16);
				@include pxToRem(bottom, 35);
				@include pxToRem(padding, 0,15);
				left: 0;
				right: 0;
				text-align: center;
			}

			&-solar{
				display: inline-block;
				height: 100%;
				position: relative;
				@include pxToRem(width, 70);

				.solar{
					@include pxToRem(width, 430);
					@include pxToRem(height, 430);
					position: absolute;
					left: 0;
					top: 50%;
					border-radius: 50%;
					@include pxToRem(margin-top, -215);
					@include pxToRem(margin-left, -215);
					background: no-repeat 50% 50%;
					background-size: contain;


					&_small{
						background-image: url("/img/solar-s.svg");
					}
					&_middle{
						background-image: url("/img/solar-s.svg");
					}
					&_big{
						background-image: url("/img/solar-s.svg");
					}
				}
			}

			&-item{
				display: inline-block;
				height: 100%;
				@include pxToRem(width, 145);
				position: relative;

				.planet{
					@include pxToRem(width, 94);
					@include pxToRem(height, 94);
					position: absolute;
					@include pxToRem(margin-top, -45);
					@include pxToRem(margin, -45);
					top: 50%;
					right: 0;
					z-index: 1;


					img{
						display: block;
						width: 100%;
						height: 100%;
					}

					.ico{
						@include pxToRem(height, 20);
						display: inline-block;
					}


					&__item{
						height: 100%;
						width: 100%;
						@include box-sizing();
						border: solid rgba(#fff, 0.2);
						@include pxToRem(border-width, 2);
						border-radius: 50%;
						background: rgba(#000, .5);
						position: relative;


						&:before{
							content: '';
							position: absolute;
							top:0;
							left: 0;
							width: 100%;
							height: 100%;
							background: url("/img/ico/ico-system-person.svg") no-repeat 50% 50%;
							background-size: contain;
							opacity: 0;

							z-index: 1;
						}

						&_search{
							&:before{
								background-image: url("/img/ico/ico-system-search.svg");
							}
						}
						&_fill{
							&:before{
								background-image: url("/img/ico/ico-system-person-fill.svg");
							}
						}

						&:hover{
							&:before{
								opacity: 1;
							}
						}
					}

					&__satellite{
						position: absolute;
						left: 0;
						width: 100%;

						&_top{
							bottom: 100%;
						}

						&_bottom{
							top: 100%;
						}

						&-item{
							@include pxToRem(height, 27);
							@include pxToRem(width, 27);
							display: block;
							margin: 0 auto;
							@include pxToRem(margin-top, 8);
							@include pxToRem(margin-bottom, 8);
							@include box-sizing();
							border: solid rgba(#fff, 0.2);
							@include pxToRem(border-width, 2);
							border-radius: 50%;
							background: rgba(#000, .5);
						}
					}

					&__info{
						position: absolute;
						@include pxToRem(width, 170);
						left: 50%;
						@include pxToRem(margin-left, -87);
						background:#1b1b20;
						border: #25272d solid;
						@include pxToRem(border-width, 2);
						@include pxToRem(border-radius, 8);
						@include box-shadow(0 10px 10px rgba(0,0,0,0.4));
						@include pxToRem(font-size, 16);
						text-align: center;
						display: none;
						white-space: normal;

						&_top{
							@include pxToRem(border-radius, 8, 8, 0, 0);
							bottom: 50%;
							@include pxToRem(padding-bottom, 60);
							border-bottom: 0;
						}

						&_bottom{
							@include pxToRem(border-radius, 0, 0, 8, 8);
							top:50%;
							border-top: 0;
							@include pxToRem(padding-top, 60);
						}



						&-head{
							@include pxToRem(padding, 10, 0);
							border-bottom: #25272d solid;
							@include pxToRem(border-bottom-width, 2);

							.ico{
								vertical-align: middle;
								display: inline-block;
								@include pxToRem(margin, 0, 5);
							}

							span{
								vertical-align: middle;
								display: inline-block;
								color: #fff;
							}

							.link{
								display: inline-block;
								@include pxToRem(margin, 0, 5);
								opacity: 0.5;
								position: relative;

								&:hover{
									opacity: 1;

									&:after{
										content: attr(title);
										position: absolute;
										color: #fff;
										left: 100%;
										@include pxToRem(margin-top, 2);
										@include pxToRem(margin-left, 10);
										@include pxToRem(font-size, 16);
										z-index: 3;
										text-shadow: 0 0 3px rgba(0,0,0,0.7);

									}
								}
							}
						}

						&-name{
							@include pxToRem(padding, 15, 0, 10px);
							@include pxToRem(font-size, 19);
							color: #fff;
						}

						&-message{
							border-bottom: #25272d solid;
							@include pxToRem(border-bottom-width, 2);
							border-top: #25272d solid;
							@include pxToRem(border-top-width, 2);

							.link{
								@include pxToRem(padding, 10);
								display: block;

								&:hover{
									color: #fff;
									background: rgba(#fff, 0.3);
									.ico{
										opacity: 1;
									}
								}
							}

							.ico{
								vertical-align: middle;
								display: inline-block;
								@include pxToRem(margin-right, 10);
								opacity: 0.5;
							}

							span{
								vertical-align: middle;
								display: inline-block;
							}
						}

						&-status{
							@include pxToRem(width, 98);
							@include pxToRem(height, 98);
							margin: 0 auto ;
							@include pxToRem(margin-top, -111);
							position: relative;

							&.is-attacked{


								&:before{
									content: '';
									@include pxToRem(width, 98);
									@include pxToRem(height, 98);
									border: solid $colorRed;
									@include pxToRem(border-width, 2);
									display: block;
									position: absolute;
									@include pxToRem(top, 0);
									@include pxToRem(left, -2);
									border-radius: 50%;
								}

								&:after{
									content: '';
									@include pxToRem(width, 26);
									@include pxToRem(height, 26);
									position: absolute;
									@include pxToRem(top,0);
									@include pxToRem(right, 0);
									border-radius: 50%;
									background: $colorRed url("/img/ico/ico-sword.svg") no-repeat;
									@include pxToRem(background-position, 6, 6);
									@include pxToRem(background-size, 16, 16);
									z-index: 6;
								}
							}
						}

						&-links{

							@include pxToRem(padding, 5);
							border-bottom: #25272d solid;
							@include pxToRem(border-bottom-width, 2);
							@include pxToRem(margin-bottom, -2);

							.link{
								display: block;
								@include pxToRem(margin, 10, 0);

								&:hover{
									color: #fff;
									.ico{
										opacity: 1;
									}
									span{
										text-decoration: underline;
									}
								}
							}

							.ico{
								vertical-align: middle;
								display: inline-block;
								opacity: 0.5;
							}

							span{
								vertical-align: middle;
								display: inline-block;
							}

							&:hover{
								opacity: 1;

							}
						}

						&-coord{

							@include pxToRem(padding, 10);
						}
					}

					&.is-open{
						.planet__item{
							z-index: 5;

							&:before{
								display: none;
							}

						}

						.planet__info{
							display: block;
						}
					}
				}
			}

		}

	}

}



.popup_shop{
	.popup {
		&__head {

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item {
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;
				cursor: pointer;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				span {
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover {
					span {
						opacity: 1;
					}
				}

				&.is-active {
					background: $colorRed;

					span {
						opacity: 1;
					}
				}
			}
		}

		&__content{
			@include pxToRem(height, 550);
			background: #34373e;
		}

		&__menu{
			@include pxToRem(width, 195);
			height: 100%;
			@include pxToRem(border-radius, 0, 0, 0, 20);
			background: #2a2c32;
			@include box-sizing();
			@include pxToRem(padding, 50, 20, 20);
			float: left;
			//@include box-shadow(inset 0px 29px 20px -20px rgba(0, 0, 0, 0.35));

			&-item{

				@include pxToRem(margin, 10, 0);

				.btn{
					@include pxToRem(font-size, 16);
					color: $colorText;
					border-color: #3d404a;
					font-weight: 500;
					@include pxToRem(padding, 3, 15);

					&:hover{
						color: #fff;
					}

					&.is-active{
						color: #fff;
						background: #3d404a;
					}
				}
			}
		}

		&__shop{
			@include box-sizing();
			@include pxToRem(margin-left, 195);
			height: 100%;

			.keep__item{
				@include pxToRem(width, 110);
				@include pxToRem(height, 110);
			}

			&-list{
				@include pxToRem(padding, 10, 0, 10, 30);
				overflow: hidden;
			}

			&-item{
				@include pxToRem(width, 160);
				@include pxToRem(height, 340);
				background: #3a3d45;
				border: solid #2a2c33;
				@include pxToRem(border-width, 2);
				@include box-shadow(inset 0 0 0 0.125rem #484c57);
				@include pxToRem(border-radius, 8);
				float: left;
				@include pxToRem(margin, 9, 8);
				text-align: center;
				@include pxToRem(padding, 20, 15);
				@include box-sizing();
				color: $colorText;
				@include pxToRem(font-size, 14);
			}

			&-title{
				@include pxToRem(height, 55);
				@include pxToRem(margin, 5, 0);
				white-space: normal;
				overflow: hidden;
			}
			&-logo{}
			&-price{
				@include pxToRem(font-size, 21);
				font-weight: 500;
				color: #fff;
				@include pxToRem(margin, 10, 0, 5);
			}
			&-sale{
				white-space: normal;
				@include pxToRem(margin, 5, 0, 20);
			}
			&-buy{
				.btn{
					background: $colorRed;
					@include pxToRem(height, 40);
					@include pxToRem(font-size, 18);
					@include pxToRem(line-height, 40);
					font-weight: 600;
					color: #fff;
					border: none;
					@include pxToRem(padding, 0, 15);
					cursor: pointer;
				}
			}
		}
	}

}


.popup_messages{
	.popup {
		&__head {

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item {
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;
				cursor: pointer;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				span {
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover {
					span {
						opacity: 1;
					}
				}

				&.is-active {
					background: $colorRed;

					span {
						opacity: 1;
					}
				}
			}
		}

		&__content{
			@include pxToRem(height, 550);
			background: #34373e;
		}

		&__menu{
			@include pxToRem(width, 195);
			height: 100%;
			@include pxToRem(border-radius, 0, 0, 0, 20);
			background: #2a2c32;
			@include box-sizing();
			@include pxToRem(padding, 50, 20, 20);
			float: left;
			//@include box-shadow(inset 0px 29px 20px -20px rgba(0, 0, 0, 0.35));

			&-item{

				@include pxToRem(margin, 10, 0);

				.btn{
					@include pxToRem(font-size, 16);
					color: $colorText;
					border-color: #3d404a;
					font-weight: 500;
					@include pxToRem(padding, 3, 15);

					&:hover{
						color: #fff;
					}

					&.is-active{
						color: #fff;
						background: #3d404a;
					}
				}
			}
		}

		&__messages{
			@include box-sizing();
			@include pxToRem(margin-left, 195);
			height: 100%;

			&-tab{
				height: 100%;
			}

			&-list{
				@include pxToRem(padding, 10, 50, 10, 30);
				overflow: hidden;
			}

			&-item{
				@include pxToRem(height, 110);
				position: relative;
				background: #3a3d45;
				border: solid #2a2c33;
				@include pxToRem(border-width, 2);
				@include box-shadow(inset 0 0 0 0.125rem #484c57);
				@include pxToRem(border-radius, 8);
				@include pxToRem(margin, 9, 8);
				@include pxToRem(padding, 15, 50, 15, 20);
				@include box-sizing();
				color: $colorText;
				@include pxToRem(font-size, 14);


				&:hover{
					background: #41444d;

					.popup__messages-remove,
					.popup__messages-look{
						display: block;
					}
				}
			}

			&-remove{
				display: none;
				@include pxToRem(width, 28);
				@include pxToRem(height, 28);
				position: absolute;
				cursor: pointer;
				@include pxToRem(top, 8);
				@include pxToRem(right, 8);
				background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
				background-size: contain;
				opacity: 0.3;

				&:hover{
					opacity: 1;
				}
			}

			&-look{
				display: none;
				@include pxToRem(width, 25);
				@include pxToRem(height, 25);
				position: absolute;
				cursor: pointer;
				@include pxToRem(bottom, 8);
				@include pxToRem(right, 8);
				background: url("/img/ico/ico-search.svg") no-repeat 50% 50%;
				background-size: contain;
				opacity: 0.3;
				@include transform(scaleX(-1));

				&:hover{
					opacity: 1;
				}
			}

			&-title{
				@include pxToRem(margin, 5, 0);
				white-space: nowrap;
				overflow: hidden;
				@include pxToRem(font-size, 18);
				text-overflow: ellipsis;
			}

			&-info{
				@include pxToRem(font-size, 12);
				color: #727686;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				@include pxToRem(margin-bottom, 10);

				i{
					@include pxToRem(width, 16);
					@include pxToRem(height, 9);
					background: url("/img/ico/info-arrow.svg") no-repeat 50% 50%;
					background-size: contain;
					display: inline-block;
					@include pxToRem(margin, 0, 5);
					@include pxToRem(line-height, 14);
				}
			}

			&-text{
				color: #727686;
				white-space: nowrap;
				overflow: hidden;
				@include pxToRem(font-size, 14);
				text-overflow: ellipsis;
			}



		}
	}

}


.popup_text{
	.popup {
		&__head {

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item {
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;
				cursor: pointer;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				span {
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover {
					span {
						opacity: 1;
					}
				}

				&.is-active {
					background: $colorRed;

					span {
						opacity: 1;
					}
				}
			}


			& ~ {
				.popup__content{
					@include pxToRem(height, 550);
				}
			}
		}

		&__content{
			@include pxToRem(height, 630);
			background: #34373e;
		}


		&__text{
			@include box-sizing();
			height: 100%;

			@include pxToRem(padding, 30, 80, 30, 40);


			h1{
				font-weight: 600;
				@include pxToRem(font-size, 32);
				@include pxToRem(margin, 15, 0);
			}

			h2{
				font-weight: 600;
				@include pxToRem(font-size, 28);
			}

			h3{
				font-weight: 600;
				@include pxToRem(font-size, 24);
			}

			h4{
				@include pxToRem(font-size, 20);
				font-weight: 600;
			}

			p{
				@include pxToRem(margin, 15, 0);
			}

			ul{
				@include pxToRem(margin, 15, 0);

				li{
					@include pxToRem(margin, 10, 0);
					list-style: disc;
					list-style-position: inside;
					@include pxToRem(padding-left, 20);
				}
			}

			table{
				width: 100%;
				@include pxToRem(margin, 15, 0);

				tr{

					&:nth-of-type(2n-1){
						background: rgba($colorText, 0.3);
					}
				}

				th, td{
					@include pxToRem(padding, 5, 15);
				}

				thead{

					tr{
						background: rgba($colorDark, 0.3)!important;
					}
				}
			}
		}
	}

}

.popup_donut{
	.popup {
		&__head {

			@include pxToRem(padding, 15, 50);
			text-align: center;

			&-item {
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				display: inline-block;

				@include pxToRem(font-size, 18);
				font-weight: 600;

				color: #fff;
				@include pxToRem(margin, 0, 20);
			}
		}

		&__content{
			@include pxToRem(height, 550);
			background: #34373e;
		}


		&__donut{
			&-list{
				@include pxToRem(padding, 20, 0, 20, 20);
				font-size: 0;
			}

			&-item{
				@include pxToRem(width, 260);
				@include pxToRem(height, 205);
				display: inline-block;
				vertical-align: top;
				@include pxToRem(border-radius, 10);
				background: #3a3d45;
				border: solid #2a2c33;
				@include pxToRem(border-width, 2);
				@include box-sizing();
				@include box-shadow(inset 0 0 0 1px #464a56);
				text-align: center;
				@include pxToRem(margin, 5, 4);
				cursor: default;

				&_custom{
					@include pxToRem(width, 532);
					.popup__donut-counter{
						@include pxToRem(margin-bottom, 20);

						.counter__value{
							@include pxToRem(width, 140);
						}
					}
					.popup__donut-val{
						@include pxToRem(font-size, 30);
					}
				}

				&_counter{
					.popup__donut-val{
						@include pxToRem(margin-bottom, 5);
					}
				}

				&:hover{
					background: #34373e;
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}
			}

			&-counter{

				@include pxToRem(margin-bottom, 10);
				&-text{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(font-size, 18);
					color: #fff;
					@include pxToRem(margin, 0, 5);
					font-weight: 600;
				}

				&-item{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(margin, 0, 5);
				}

				.counter{
					display: inline-block;

					&__value{
						@include pxToRem(height, 40);
						@include pxToRem(font-size, 24);
						@include pxToRem(line-height, 40);
						@include pxToRem(width, 90);
						background: #2c2c31;
						margin: 0;
					}
					&__down{
						@include pxToRem(height, 40);
						@include pxToRem(width, 30);
						background: #1b1b1f;
						@include pxToRem(border-radius, 5, 0, 0, 5);
					}
					&__up{
						@include pxToRem(height, 40);
						@include pxToRem(width, 30);
						background: #1b1b1f;
						@include pxToRem(border-radius, 0, 5, 5, 0);
					}
				}
			}


			&-inner{
				@include pxToRem(font-size, 15);
				display: inline-block;
				vertical-align: middle;
			}


			&-text{
				@include pxToRem(margin-bottom, 5);
			}

			&-val{
				@include pxToRem(font-size, 47);
				color: #fff;
				font-weight: 500;
				line-height: 0.85;
				@include pxToRem(margin-bottom, 25);
			}

			&-price{
				@include pxToRem(font-size, 18);
				color: #fff;
				font-weight: 500;
				@include pxToRem(margin-bottom, 13);
			}

			&-buy{
				.btn{
					@include pxToRem(padding, 0, 20);
					@include pxToRem(min-height, 40);
					@include pxToRem(line-height, 40);
					background: $colorVioletLight;
					border: none;
					cursor: pointer;

					@include pxToRem(font-size, 18);
					font-weight: 600;
					display: inline-block;
					vertical-align: middle;
					text-align: center;
					@include pxToRem(border-radius, 10);
					color: #fff;
					@include pxToRem(margin, 0, 12);

					span {
						display: inline-block;
						vertical-align: middle;
						opacity: 0.5;
					}

					&:hover {
						span {
							opacity: 1;
						}
					}
				}
			}


		}
	}

}

.popup_blackmarket{
	.popup {
		&__head {

			@include pxToRem(padding, 15, 50);
			font-size: 0;
			text-align: center;

			&-item {
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;
				cursor: pointer;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				span {
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover {
					span {
						opacity: 1;
					}
				}

				&.is-active {
					background: $colorRed;

					span {
						opacity: 1;
					}
				}


				&_add{
					position: relative;

					@include pxToRem(padding-right, 80);

					b{
						color: #fff;
					}

					&:after{
						content: '+';
						@include pxToRem(font-size, 26);
						@include pxToRem(line-height, 30);
						text-align: center;
						color: #b4641b;
						display: block;
						@include pxToRem(width, 40);
						@include pxToRem(height, 30);
						background: $colorYellow;
						@include pxToRem(border-radius, 5);
						position: absolute;
						top: 50%;
						@include pxToRem(right, 10);
						@include pxToRem(margin-top, -15);
					}
				}
			}
		}

		&__content{
			@include pxToRem(height, 550);
			background: #34373e;
		}

		&__market{
			@include box-sizing();
			height: 100%;

			.keep__item{
				@include pxToRem(width, 110);
				@include pxToRem(height, 110);
			}

			&-title{
				@include pxToRem(font-size, 20);
				text-align: center;
				@include pxToRem(padding-top, 25);
				color: #fff;
				font-weight: 300;
			}

			&-head{
				@include pxToRem(height, 75);
			}

			&-inner{
				height: 100%;
			}

			&-list{
				//@include pxToRem(padding-right, 30);
				overflow: hidden;
				@include pxToRem(height, 475px);
			}
		}
	}


	.market{
		@include pxToRem(padding-left, 20);

		&__item{
			@include pxToRem(width, 198);
			background: #3a3d45;
			border: solid #2a2c33;
			@include pxToRem(border-width, 2);
			@include box-shadow(inset 0 0 0 0.0625rem #484c57);
			@include pxToRem(border-radius, 8);
			float: left;
			@include pxToRem(margin, 0, 12, 20);
			text-align: center;
			@include pxToRem(padding, 20, 15);
			@include box-sizing();
			color: $colorText;
			@include pxToRem(font-size, 15);

			&:hover{
				background: #34373e;
			}
		}

		&__title{
			@include pxToRem(font-size, 22);
			@include pxToRem(height, 45);
			overflow: hidden;
			color: #fff;
			line-height: 0.95;
			@include pxToRem(margin-bottom, 12);
		}
		&__logo{
			@include pxToRem(margin-bottom, 12);
		}
		&__counter{
			@include pxToRem(margin-bottom, 20);
			.counter{
				display: inline-block;

				&__value{
					@include pxToRem(height, 40);
					@include pxToRem(font-size, 24);
					@include pxToRem(line-height, 40);
					@include pxToRem(width, 90);
					background: #2c2c31;
					margin: 0;
				}
				&__down{
					@include pxToRem(height, 40);
					@include pxToRem(width, 30);
					background: #1b1b1f;
					@include pxToRem(border-radius, 5, 0, 0, 5);
				}
				&__up{
					@include pxToRem(height, 40);
					@include pxToRem(width, 30);
					background: #1b1b1f;
					@include pxToRem(border-radius, 0, 5, 5, 0);
				}
			}
		}

		&__lvl{

			&-item{
				@include pxToRem(font-size, 20);
				color: #fff;
				font-weight: 500;
				@include pxToRem(line-height, 40);
				@include pxToRem(height, 40);
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-width, 40);
				border: $colorDark solid;
				@include pxToRem(border-width, 2);
				display: inline-block;
				@include pxToRem(border-radius, 5);
				@include pxToRem(margin-bottom, 20);
			}
		}
		&__price{
			@include pxToRem(font-size, 18);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 500;
			color: #fff;
			@include pxToRem(margin-bottom, 12);
		}
		&__text{
			@include pxToRem(margin-bottom, 8);
		}
		&__buy{
			.btn{
				background: $colorVioletLight;
				@include pxToRem(height, 40);
				@include pxToRem(font-size, 18);
				@include pxToRem(line-height, 40);
				font-weight: 600;
				color: #fff;
				border: none;
				@include pxToRem(padding, 0, 15);
				cursor: pointer;
			}
		}
	}


	.storage{

		@include pxToRem(padding-top, 10);
		@include pxToRem(padding-bottom, 30);


		&-line{
			@include pxToRem(width, 130);
			background: #2a2c32;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			@include pxToRem(border-radius, 0, 0, 0, 20);
		}

		&-progress{
			text-align: center;
			white-space: nowrap;
			@include pxToRem(padding, 30, 0, 0, 130);

			&__name{
				display: inline-block;
				vertical-align: baseline;
				@include pxToRem(font-size, 21);
				font-weight: 300;
				color: #fff;
			}
			&__line{
				display: inline-block;
				position: relative;
				@include pxToRem(border-radius, 100);
				@include pxToRem(height, 10);
				background: #1b1b1f;
				@include pxToRem(width, 520);
				vertical-align: baseline;
				@include pxToRem(margin, 0, 5, 0, 20);

				i{
					position: absolute;
					top: 0;
					left: 0;
					background: $colorYellow;
					@include pxToRem(border-radius, 100);
					height: 100%;
				}
			}
			&__info{
				display: inline-block;
				vertical-align: baseline;
				@include pxToRem(font-size, 15);
			}
		}

		&__group{

		}

		&__type{
			@include pxToRem(width, 130);
			text-align: center;
			float: left;
			@include pxToRem(height, 230);
			font-size: 0;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			&-inner{
				@include pxToRem(font-size, 15);
				display: inline-block;
				vertical-align: middle;
			}

			&-ico{
				@include pxToRem(width, 70);
				@include pxToRem(height, 70);
				margin: 0 auto;
			}
			&-name{

			}
		}

		&__list{
			@include pxToRem(margin-left, 150);
			font-size: 0;
		}

		&__item{
			@include pxToRem(width, 310);
			@include pxToRem(height, 230);
			display: inline-block;
			vertical-align: top;
			@include pxToRem(border-radius, 10);
			background: #3a3d45;
			border: solid #2a2c33;
			@include pxToRem(border-width, 2);
			@include box-sizing();
			@include box-shadow(inset 0 0 0 1px #464a56);
			text-align: center;
			@include pxToRem(margin, 5, 4);
			cursor: default;

			&:hover{
				background: #34373e;
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			&-inner{
				@include pxToRem(font-size, 15);
				display: inline-block;
				vertical-align: middle;
			}


			&-text{
				@include pxToRem(margin-bottom, 5);
			}
			&-val{
				@include pxToRem(font-size, 62);
				color: #fff;
				font-weight: 500;
				line-height: 0.85;
				@include pxToRem(margin-bottom, 15);
			}
			&-price{
				@include pxToRem(font-size, 18);
				color: #fff;
				font-weight: 500;
				@include pxToRem(margin-bottom, 13);
			}
			&-buy{
				.btn{
					@include pxToRem(padding, 0, 20);
					@include pxToRem(min-height, 40);
					@include pxToRem(line-height, 40);
					background: $colorVioletLight;
					border: none;
					cursor: pointer;

					@include pxToRem(font-size, 18);
					font-weight: 600;
					display: inline-block;
					vertical-align: middle;
					text-align: center;
					@include pxToRem(border-radius, 10);
					color: #fff;
					@include pxToRem(margin, 0, 12);

					span {
						display: inline-block;
						vertical-align: middle;
						opacity: 0.5;
					}

					&:hover {
						span {
							opacity: 1;
						}
					}
				}
			}
		}
	}

}




.popup_fleet{

	.popup{
		&__head{

			@include pxToRem(padding, 15, 35);
			font-size: 0;
			text-align: center;

			&-group{
				display: inline-block;
				vertical-align: middle;

				.popup__head-item{


					&:not(:first-child):after{
						content: '';
						@include pxToRem(height, 4);
						@include pxToRem(width, 50);
						top: 50%;
						@include pxToRem(margin-top, -2);
						background: #2a2d34;
						position: absolute;
						right: 100%;
					}
				}
			}

			&-item{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 42);
				@include pxToRem(line-height, 42);
				background: #2a2d34;
				border: solid #2a2d34;
				@include pxToRem(border-width, 4);

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 23);
				position: relative;

				.ico{
					//@include pxToRem(width, 24);
					@include pxToRem(height, 24);
					display: inline-block;
					vertical-align: middle;
					opacity: 0.3;
					@include pxToRem(margin-right, 5);
				}

				span{
					display: inline-block;
					vertical-align: middle;
					opacity: 0.3;
				}

				&:hover:not(.is-disable){
					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}

				&.is-active{
					background: #21232b;
					border-color: #21232b;

					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}

				&.is-disable{
					background: #34373e;
					cursor: default;
					//border-color: #34373e;
				}


				&_back{
					float: left;
					margin: 0;

					span{
						color: $colorText;
						opacity: 1;
					}
				}

				&_next{
					float: right;
					margin: 0;
					background: #9ba0b1;
					border-color: #9ba0b1;
					color: #1b1b1f;

					span{
						opacity: 1;
					}
				}

				&_submit{
					float: right;
					margin: 0;
					background: $colorYellow;
					border-color: $colorYellow;
					color: $colorDark;

					span{
						opacity: 1;
					}
				}
			}
		}


		&__content{
			//background: #2f3138;

			&-aside{
				@include pxToRem(min-height, 550);
			}

			&-image{
				@include pxToRem(height, 230);
				background: #2f3138;
			}

			.tabs{
				color: #5B5F6B;
				font-size: 0;


				&__menu{
					&-aside{
						float: right;

						.tabs__item{
							@include pxToRem(padding-left, 10);
							color: #ccc;
						}
					}
				}

				&__item{
					display: inline-block;
					vertical-align: bottom;
					@include pxToRem(height, 40);
					@include pxToRem(line-height, 40);
					@include pxToRem(font-size, 17);
					@include pxToRem(padding, 0, 20, 0, 28);
					@include pxToRem(border-radius, 10, 15, 0, 0);
					position: relative;
					font-weight: 500;
					cursor: pointer;
					@include user-select();

					&:hover{
						text-shadow: 0 0 10px rgba(#fff, 0.5);
						color: #fff;
					}

					&.is-active{
						cursor: default;
						background: #34373e;
						color: #fff;
						text-shadow: 0 0 10px rgba(#fff, 0.5);

						&:after{
							content: '';
							display: block;
							position: absolute;
							border: solid transparent;
							@include pxToRem(border-width, 18);
							@include pxToRem(border-bottom-width, 32);
							border-bottom-color: #34373e;
							bottom: 0;
							@include pxToRem(right, -16);
						}
					}
				}

				&__content{
					background: #34373e;
					@include pxToRem(height, 280);
					@include pxToRem(border-radius, 0, 0, 20, 20);
					@include box-shadow(0px -29px 20px -20px rgba(0, 0, 0, 0.35));
					overflow: hidden;
				}
			}



			.fleet{
				&__list{
					@include pxToRem(padding, 0, 16, 60);
					overflow: hidden;
					margin-top: 0;
				}

				&__item{
					@include pxToRem(width, 116);
					@include pxToRem(height, 205);
					background: #3a3d45;
					border: solid #2a2c33;
					@include pxToRem(border-width, 2);
					@include box-shadow(inset 0 0 0 0.125rem #484c57);
					@include pxToRem(border-radius, 8);
					float: left;
					@include pxToRem(margin, 10, 6);
					text-align: center;
					@include pxToRem(padding-top, 15);
					position: relative;

					.keep__item{
						@include pxToRem(margin-bottom, 5);
					}

					&-num{
						text-align: center;

						span{
							display: inline-block;
							@include pxToRem(font-size, 14);
							color: $colorText;
							@include pxToRem(height, 23);
							@include pxToRem(line-height, 23);
							border: solid #484d57;
							@include pxToRem(border-width, 1);
							@include pxToRem(padding, 0, 5);
							@include pxToRem(min-width, 40);
							@include pxToRem(border-radius, 3);
						}
					}
					&-name{
						@include pxToRem(font-size, 14);
						color: $colorText;
						text-align: center;
						@include pxToRem(margin, 10, 0);
						@include pxToRem(height, 32);
						overflow: hidden;
					}

					&-counter{
						font-size: 0;
						position: absolute;
						@include pxToRem(bottom, 2);
						@include pxToRem(left, 2);
						@include pxToRem(right, 2);

						&-value{
							@include pxToRem(height, 30);
							float: left;
							@include pxToRem(font-size, 17);
							@include pxToRem(line-height, 30);
							text-align: center;
							color: #fff;
							@include pxToRem(width, 52);
							background: #26272c;
							cursor: default;
						}
						&-down{
							@include pxToRem(height, 30);
							float: left;
							@include pxToRem(width, 30);
							background: #40434c;
							position: relative;
							cursor: pointer;
							@include pxToRem(border-radius, 0, 0, 0, 3);

							&:before{
								content: '';
								@include pxToRem(width, 13);
								@include pxToRem(height, 3);
								position: absolute;
								top: 50%;
								left: 50%;
								@include pxToRem(margin-left, -6);
								@include pxToRem(margin-top, -1);
								background: #757782;
								@include pxToRem(border-radius, 10);
							}
						}
						&-up{
							@include pxToRem(height, 30);
							@include pxToRem(width, 30);
							background: #40434c;
							float: left;
							position: relative;
							cursor: pointer;
							@include pxToRem(border-radius, 0, 0, 3, 0);

							&:before,
							&:after{
								content: '';
								@include pxToRem(width, 13);
								@include pxToRem(height, 3);
								position: absolute;
								top:50%;
								left: 50%;
								@include pxToRem(margin-left, -6);
								@include pxToRem(margin-top, -1);
								background: #757782;
								@include pxToRem(border-radius, 10);
							}

							&:after{
								@include transform(rotate(90deg));
							}
						}
					}

					&:hover{
						background: #40434c;
						color: #fff;

					}

					//&:active,
					//&.is-active{
					//	background: #2a2c32;
					//	color: #fff;
					//	border-color: #484c57;
					//	@include box-shadow(inset 0 0 0 2px #2a2c33);
					//
					//	.keep__item-text{
					//		color: #fff;
					//	}
					//}

					&.is-locked{
						background: #34373e!important;
						color: #525561!important;
						border-color: #2a2c33!important;
						@include box-shadow(inset 0 0 0 0.125rem #484c57!important);

						.keep__item-text{
							color: #525561!important;
						}
					}
				}



				&__deliver{
					height: 100%;
					position: relative;
					color: $colorText;
					@include pxToRem(padding, 20, 0, 0, 15);

					&-dim{
						position: absolute;
						@include pxToRem(font-size, 14);
						text-align: center;
						@include pxToRem(width, 140);
						@include pxToRem(left, 220);
						@include pxToRem(bottom, 75);
						border-bottom: #606577 solid;
						@include pxToRem(border-width, 1);
						@include pxToRem(padding, 10, 0);

						&:after{
							content: '';
							border: solid transparent;
							display: block;
							position: absolute;
							@include pxToRem(right, -4);
							@include pxToRem(bottom, -4);
							@include pxToRem(border-width, 4);
							@include pxToRem(border-left-width, 8);
							border-left-color: #606577;
						}
					}

					&-item{
						@include pxToRem(width, 290);
						float: left;
						text-align: center;
					}

					&-title{
						@include pxToRem(font-size, 19);
						@include pxToRem(margin, 20, 0);
						color: #fff;
					}

					&-view{
						@include pxToRem(margin, 20, 0);
						position: relative;

						span{
							display: block;
							margin: 0 auto;
							@include pxToRem(width, 146);
							@include pxToRem(height, 146);
							border: solid #3d4049;
							@include pxToRem(border-width, 3);
							@include box-shadow(inset 0 0 0 0.187rem #2b2d34);
							border-radius: 50%;
							background: #27292e;

						}
					}

					&-text{
						@include pxToRem(font-size, 14);
						@include pxToRem(margin, 10, 0);
					}

					&-planet{

						@include pxToRem(margin, 15, 0, 25);
						&-name{

						}
					}

					&-coordinates{
						text-align: center;

						&-item{
							border: solid #434753;
							@include pxToRem(border-width, 2);
							color: #fff;
							@include pxToRem(height, 35);
							@include pxToRem(line-height, 35);
							display: inline-block;
							vertical-align: middle;
							@include pxToRem(width, 50);
							@include pxToRem(border-radius, 5);
							background: none;
							text-align: center;

							&:focus{
								background: #51545c;
								border-color: transparent;
							}
						}
					}


				}


				&__info{
					color: $colorText;
					@include pxToRem(padding, 40, 80, 40, 40);

					&-title{
						@include pxToRem(font-size, 19);
						color: #fff;
						@include pxToRem(margin-bottom, 25);
					}

					&-text{
						@include pxToRem(font-size, 14);
						@include pxToRem(margin-bottom, 20);
					}


					&-speed{
						&-counter{
							@include pxToRem(margin-bottom, 20);
						}
					}

					.counter{

						&__value{
							@include pxToRem(width, 70);

							&:after{
								content: '%';
							}
						}
					}

					.range{
						position: relative;
						color: $colorYellow;

						&__counter{
							@include pxToRem(margin-bottom, 40);
						}

						&__slider{
						}

						&__current{
							position: absolute;
							left: 0;
							@include pxToRem(top, -20);
							color: currentColor;
						}

						&__max{
							position: absolute;
							right: 0;
							@include pxToRem(top, -20);
							color: $colorText;
						}

						.noUi{
							color: inherit;

							&-horizontal{
								@include pxToRem(height, 12);
							}

							&-handle{
								@include pxToRem(width, 22);
								@include pxToRem(height, 22);
								background: currentColor;
								border: solid #2a2c32;
								border-radius: 50%;
								@include pxToRem(border-width, 4);
								@include pxToRem(left, -11);
								@include pxToRem(top, -6);
							}

							&-target{
								@include pxToRem(border-radius, 100);
								@include pxToRem(padding, 0, 8);
							}

							&-connect{
								background: currentColor;
								@include pxToRem(border-radius, 100, 0, 0, 100);
								@include pxToRem(margin-left, -8);
							}
						}
					}
				}




				&__target{
					@include pxToRem(padding, 20, 40);
					border-bottom: solid #353840;
					@include pxToRem(border-bottom-width, 2);
					@include pxToRem(font-size, 14);

					&-title{
						@include pxToRem(font-size, 19);
						color: #fff;
						@include pxToRem(margin-bottom, 20);
					}

					&-list{
						font-size: 0;
						@include pxToRem(margin, 0, -7, 15);
					}

					&-item{
						text-align: center;
						display: inline-block;
						@include pxToRem(margin, 0, 7);

						&-img{
							@include pxToRem(width, 92);
							@include pxToRem(height, 92);
							border: solid #2b2d34;
							@include pxToRem(border-width, 2);
							@include pxToRem(border-radius, 10);
							background: #3c3f47;
							@include box-shadow(inset 0 0 0 0.125rem #484c57);
							@include pxToRem(margin-bottom, 2);

							font-size: 0;

							&:after{
								content: '';
								display: inline-block;
								height: 100%;
								vertical-align: middle;
							}

							span{
								display: inline-block;
								vertical-align: middle;
								width: 100%;
								max-height: 100%;

								img{
									max-width: 100%;
									max-height: 100%;
								}
							}
						}

						&-name{
							@include pxToRem(font-size, 14);
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}

						&-input{
							position: absolute;
							opacity: 0;

							&:checked{
								~ .fleet__target-item-img{
									@include box-shadow(inset 0 0 0 0.125rem #21232b);
									border-color: #434650;
									background: #21232b;
								}
							}

							&:disabled{
								~ .fleet__target-item-img{
									@include box-shadow(none);
									border-style: dotted;
									border-color: #444751;
									background: url("/img/ico/ico-lock.svg") no-repeat 50% 50%;
									@include pxToRem(background-size, 20, 20);
								}
							}
						}
					}


					&-info{
						overflow: hidden;
						@include pxToRem(padding, 1, 0);

						&-col{
							float: left;
							@include pxToRem(width, 275);

							&_time{
								@include pxToRem(width, 240);
								@include pxToRem(margin-left, 45);
							}

							&_stat{
								@include pxToRem(font-size, 21);
								text-align: right;
								@include pxToRem(width, 500);
								@include pxToRem(margin-left, 40);

								.btn{
									border-color: #4b4d5a;
									@include pxToRem(height, 36);
									@include pxToRem(line-height, 36);
									@include pxToRem(margin-left, 20);
									@include pxToRem(border-radius, 5);
									&:hover{
										color: #fff;
									}
								}
							}
						}
					}
				}

				&__store{

					@include pxToRem(padding, 0, 40, 20);

					&-table{
						display: table;
						width: 100%;

						@include pxToRem(border-spacing, 0, 22);
					}

					&-row{

						display: table-row;
					}

					&-item{

						display: table-cell;
						vertical-align: middle;
						text-align: right;
						white-space: nowrap;

					}

					&-name{

						display: inline-block;
						vertical-align: middle;

						.ico{
							display: inline-block;
							vertical-align: middle;
							border-radius: 50%;
							@include pxToRem(width, 19);
							@include pxToRem(height, 19);
							background: #41444f;
							@include pxToRem(margin-right, 5);

							img{
								display: block;
								width: 100%;
								height: 100%;
							}
						}

						span{
							display: inline-block;
							vertical-align: middle;
						}
					}

					&-counter{

						display: inline-block;
						vertical-align: middle;

						.counter{
							@include pxToRem(margin-left, 10);

							&__value{
								@include pxToRem(width, 165);
							}
						}
					}

					&-cargo{
						background: #34373e;
						border: solid #27282d;
						@include pxToRem(border-width, 1);
						@include pxToRem(border-radius, 8);

						@include pxToRem(padding, 25, 30, 25, 40);
						overflow: hidden;


						&-title{
							@include pxToRem(font-size, 19);
							color: #fff;
							@include pxToRem(width, 175);
							float: left;
							@include pxToRem(margin-top, 8);
						}
						&-fill{
							float: left;
							@include pxToRem(width, 661);
							position: relative;
							@include pxToRem(margin-top, 20);
						}
						&-current{
							position: absolute;
							left: 0;
							@include pxToRem(bottom, 22);
						}
						&-bulk{
							position: absolute;
							right: 0;
							@include pxToRem(bottom, 22);
						}
						&-line{
							@include pxToRem(height, 15);
							border: solid #1b1c20;
							@include pxToRem(border-width, 3);
							@include pxToRem(border-radius, 4);

							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6fc841+0,fdc244+50,ff2511+100 */
							background: #6fc841; /* Old browsers */
							background: -moz-linear-gradient(left,  #6fc841 0%, #fdc244 50%, #ff2511 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(left,  #6fc841 0%,#fdc244 50%,#ff2511 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to right,  #6fc841 0%,#fdc244 50%,#ff2511 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

							position: relative;
							overflow: hidden;
						}
						&-progress{
							position: absolute;
							@include pxToRem(top, 0);
							@include pxToRem(left, 0);
							@include pxToRem(bottom, 0);
							background: url("/img/progress-point.svg") repeat-x 0 0;
							background-size: auto 100%;

							&:after{
								content: '';
								display: block;
								position: absolute;
								top:0;
								bottom: 0;
								left: 100%;
								background: #1b1c20;
								@include pxToRem(width, 1000);
							}
						}
						&-send{

							float: right;

							.btn{
								border-color: #4f525e;
								@include pxToRem(height, 36);
								@include pxToRem(line-height, 36);
								@include pxToRem(margin-left, 20);
								@include pxToRem(border-radius, 5);

								&:hover{
									color: #fff;
								}
							}
						}
					}

				}
			}
		}
	}
}



.popup_buy{

	.popup{
		&__head{
			overflow: hidden;
			@include pxToRem(padding, 15, 35);
			font-size: 0;
			text-align: center;

			&-item{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 42);
				@include pxToRem(line-height, 42);
				background: #2a2d34;
				border: solid #2a2d34;
				@include pxToRem(border-width, 4);

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 23);
				position: relative;

				span{
					display: inline-block;
					vertical-align: middle;
					opacity: 0.3;
				}

				&:hover{
					span{
						opacity: 1;
					}
				}

				&_back{
					float: left;
					margin: 0;

					span{
						color: $colorText;
						opacity: 1;
					}
				}

				&_next{
					float: right;
					margin: 0;
					background: #9ba0b1;
					border-color: #9ba0b1;
					color: #1b1b1f;

					span{
						opacity: 1;
					}
				}
			}

			&-title{
				text-align: center;
				@include pxToRem(font-size, 18);
				font-weight: 600;
				color: #fff;
				@include pxToRem(width, 500);
				margin: 0 auto;
				@include pxToRem(margin-top, 15);
			}
		}


		&__content{
			background: #34373e;

			.buy{

				&__list{
					@include pxToRem(min-height, 150);
					font-size: 0;
					text-align: center;
					background: #2f3138;
					overflow: hidden;

					.mCSB_horizontal .mCSB_scrollTools{
						@include pxToRem(bottom, 10);
					}
				}

				&__item{
					text-align: left;
					position: relative;
					display: inline-block;
					@include pxToRem(font-size, 15);
					@include pxToRem(width, 325);
					@include pxToRem(height, 115);
					@include pxToRem(border-radius, 10);
					border: #2a2c33 solid;
					@include pxToRem(border-width, 2);
					@include pxToRem(margin, 20, 7);
					@include pxToRem(padding, 10, 10);
					@include box-sizing();

					&-remove{
						@include pxToRem(width, 28);
						@include pxToRem(height, 28);
						position: absolute;
						cursor: pointer;
						@include pxToRem(top, 10);
						@include pxToRem(right, 10);
						background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
						background-size: contain;
						opacity: 0.3;

						&:hover{
							opacity: 1;
						}
					}

					&-logo{
						float: left;
						@include pxToRem(padding, 0);
					}

					&-info{
						@include pxToRem(margin-left, 110);
					}

					&-name{
						@include pxToRem(font-size, 19);
						font-weight: 300;
						color: #fff;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						@include pxToRem(margin-bottom, 5);
						@include pxToRem(margin-top, 5);
						@include pxToRem(margin-right, 25);
					}

					&-val{
						@include pxToRem(font-size, 16);
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						@include pxToRem(margin-bottom, 10);
					}

					&-price{
						@include pxToRem(font-size, 21);
						font-weight: 500;
						color: #fff;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

				}

				&__pay{
					text-align: center;
					&-result{
						@include pxToRem(font-size, 27);
						color: #fff;
						font-weight: 500;
						@include pxToRem(margin-top, 25);
						@include pxToRem(margin-bottom, 40);
					}
					&-title{
						@include pxToRem(font-size, 16);
						font-weight: 500;
						@include pxToRem(margin-bottom, 5);
					}
					&-list{}

					&-item{
						display: inline-block;
						@include pxToRem(width, 116);
						@include pxToRem(height, 196);
						@include pxToRem(padding, 10);

						@include pxToRem(border-radius, 10);
						background: #3a3d45;
						border: solid #2a2c33;
						@include pxToRem(border-width, 2);
						@include box-sizing();
						@include box-shadow(inset 0 0 0 1px #464a56);
						text-align: center;
						@include pxToRem(margin, 5, 4);
						cursor: default;
						font-size: 0;

						&:before{
							content: '';
							height: 100%;
							display: inline-block;
							vertical-align: middle;
						}


						&:hover{
							background: #34373e;
						}
					}
					&-inner{
						@include pxToRem(font-size, 13);
						display: inline-block;
						vertical-align: middle;
					}
					&-logo{
						.ico{
							@include pxToRem(width, 90);
							@include pxToRem(height, 90);
						}
					}
					&-name{}
				}

			}
		}
	}
}












.popup_stat{

	.popup{

		&__head{

			color: $colorText;
			@include pxToRem(padding, 25, 15);

			&-tabl{

			}

			&-col{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(font-size, 14);
				vertical-align: top;
			}

			&-item{
				@include pxToRem(padding, 0, 20);
				@include pxToRem(min-height, 48);
				@include pxToRem(line-height, 48);
				background: #2a2d34;

				@include pxToRem(font-size, 21);
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				@include pxToRem(border-radius, 10);
				color: #fff;
				@include pxToRem(margin, 0, 12);

				.ico{
					@include pxToRem(height, 20);
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
					@include pxToRem(margin-right, 5);
				}

				span{
					display: inline-block;
					vertical-align: middle;
					opacity: 0.5;
				}

				&:hover{
					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}

				&.is-active{
					background: $colorRed;

					.ico{
						opacity: 1;
					}

					span{
						opacity: 1;
					}
				}
			}

		}




	}


	.stat{

		&__head{

			overflow: hidden;
			@include pxToRem(padding, 25, 0);

			&-item{

				float: left;
				@include pxToRem(font-size, 17);
				@include pxToRem(line-height, 21);
				display: block;

				&_1{
					@include pxToRem(margin-left, 125);
					@include pxToRem(width, 300);
				}

				&_2{
					@include pxToRem(width, 165);
				}

				&_3{
					@include pxToRem(width, 245);
				}

				&.is-active{
					@include pxToRem(font-size, 21);
					font-weight: 600;
					color: #fff;
				}
			}
		}


		&__table{
			@include pxToRem(height, 400);
			@include box-shadow(inset 0px -29px 20px -20px rgba(0, 0, 0, 0.35));
		}

		&__list{
			@include pxToRem(padding, 5, 60, 20, 20);
		}

		&__item{

			border: solid #26272d;
			@include pxToRem(border-width, 1);
			@include pxToRem(border-radius, 5);
			display: table;
			width: 100%;
			@include pxToRem(margin-bottom, 10);

			&:hover{
				background: #34373e;
			}

			&-col{
				display: table-cell;
				vertical-align: middle;
				@include pxToRem(padding, 15);
				@include pxToRem(font-size, 19);
				color: #fff;

				.keep__item{
					@include pxToRem(width, 60);
					@include pxToRem(height, 60);
				}

				&_image{
					@include pxToRem(width, 60);
				}

				&_name{
					@include pxToRem(width, 250);
				}

				&_info{
					text-align: center;
					@include pxToRem(width, 200);

					.ico{

						display: inline-block;
						vertical-align: middle;
						@include pxToRem(height, 20);
						opacity: 0.3;
						@include pxToRem(margin-left, 5);

						&:hover{
							opacity: .5;
						}

						img{
							display: block;
							height: 100%;
						}
					}

					.label{
						span{
							@include pxToRem(font-size, 13);
							color: $colorText;
							display: inline-block;
							@include pxToRem(height, 21);
							@include pxToRem(line-height, 21);
							border: solid #41444f;
							@include pxToRem(border-width, 1);
							@include pxToRem(border-radius, 3);
							@include pxToRem(padding, 0, 12);
						}
					}
				}

				&_clear{

					@include pxToRem(width, 80);
					text-align: center;

					.ico{

						@include pxToRem(width, 28);
						@include pxToRem(height, 28);
						cursor: pointer;
						display: inline-block;
						background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
						background-size: contain;
						opacity: 0.3;

						&:hover{
							opacity: 1;
						}
					}
				}
			}
		}

		&__foot{
			@include pxToRem(padding, 30, 210, 0, 40);
			position: relative;

			&-text{
				text-align: right;

				.val{
					color: #fff;
				}
			}

			&-clear{

				@include pxToRem(width, 28);
				@include pxToRem(height, 28);
				position: absolute;
				cursor: pointer;
				@include pxToRem(top, 25);
				@include pxToRem(right, 100);
				background: url("/img/ico/ico-close.svg") no-repeat 50% 50%;
				background-size: contain;
				opacity: 0.3;

				&:hover{
					opacity: 1;
				}
			}
		}
	}
}